<template>
  <div></div>
</template>

<script>
export default {
  async fetch() {
    const result = await this.$store.dispatch("locations/GET_LOCATIONS");
    const found = result.find(
      i => i.toLowerCase() === this.$route.params.location.toLowerCase()
    );

    if (result.length && found)
      await this.$store.commit("booking/setBooking", {
        location: found
      });
    this.$router.push("/booking");
  },
  fetchOnServer: false
};
</script>
