<template>
  <div>
    <Loading
      v-if="loading"
      :message="message"
    ></Loading>
    <!-- STEP 1 -->

    <div v-show="step === 1">
      <v-img
        src="/Images/title_booking.png"
        height="220"
      >
        <v-row
          align="center"
          justify="center"
          class="fill-height"
        >
          <v-col
            class="text-center white--text"
            cols="12"
          >
            <h1>Booking</h1>
          </v-col>
        </v-row>
      </v-img>
      <div
        class="nm-container"
        id="venueDateSelector"
      >
        <v-card flat>
          <v-select
            class="pa-4 pb-0 mt-5 black--text"
            :items="locations"
            label="Venue"
            outlined
            color="black"
            item-text="name"
            v-model="location"
            :rules="[v => !!v || 'Please select Venue']"
          ></v-select>
          <v-card
            class="ma-4 mt-0"
            flat
          >
            <v-date-picker
              :show-current="false"
              full-width
              v-model="date"
              type="date"
              no-title
              :min="minDate"
              :max="maxDate"
            ></v-date-picker>
          </v-card>
          <div id="timeSelector">
            <time-selector
              v-if="location && date"
              :pitches="locationPitches"
              :dateSelected="date"
              :timeslotDetails="locationTimeslots"
              :bookedSlots="bookedSlots"
              :holidays="holidays"
              :updateBooking="updateBooking"
            />
          </div>
        </v-card>
      </div>
      <v-footer
        v-if="Object.keys(groupedTimeslots).length > 0"
        fixed
        color="accent"
        padless
      >
        <v-row
          style="border-top: 2px solid white"
          class="px-8"
          justify="center"
          align="center"
        >
          <v-col
            class="text-left white--text"
            cols="6"
          >
            <div style="font-size: 12px">TOTAL CHARGES</div>
            <h4>${{ totalPayable }}</h4>
          </v-col>
          <v-col
            class="text-right white--text"
            cols="6"
          >
            <template v-if="creditsLeft && creditsLeft < 100">
              <div style="font-size: 12px">Credits Left: ${{creditsLeft}}</div>
              <v-btn
                rounded
                color="white"
                class="accent--text the-ark-nav-btn"
                @click.prevent="$router.push('/credits')"
              >Top Up</v-btn>
            </template>
            <v-btn
              rounded
              color="white"
              class="accent--text the-ark-nav-btn"
              @click.prevent="bookNow"
            >Book Now</v-btn>
          </v-col>
        </v-row>
      </v-footer>
    </div>
    <!-- End STEP 1 -->

    <!-- STEP 2 -->
    <div
      v-if="step === 2"
      id="loginScreen"
    >
      <login-sign-up-form></login-sign-up-form>
    </div>
    <!-- End of STEP 2 -->

    <!-- STEP 3 -->
    <div v-show="step === 3">
      <v-img
        src="/Images/title_booking.png"
        height="220"
      >
        <v-row
          align="center"
          justify="center"
          class="fill-height"
        >
          <v-col
            class="text-center white--text"
            cols="12"
          >
            <h1>Booking</h1>
          </v-col>
        </v-row>
      </v-img>
      <div
        class="nm-container"
        id="paymentScreen"
      >
        <v-card
          flat
          class="px-8"
        >
          <v-row
            align="center"
            justify="center"
          >
            <v-col
              class="text-left"
              cols="12"
            >
              <h5 class="mb-2">BOOKING DETAILS</h5>
              <div
                style="font-weight: 600;"
                class="accent--text"
              >
                {{ location }}
              </div>
              <div
                style="font-size: 14px"
                class="accent--text"
              >
                {{ $moment(date, "YYYY-MM-DD").format("MMMM DD, YYYY") }}
              </div>
              <template v-for="(slot, index) in selectedTimeslots">
                <div
                  class="mt-1"
                  style="font-size: 15px"
                  :key="index"
                >
                  <span
                    style="font-weight: 500"
                    class="mr-5"
                  >Pitch {{ slot.pitch }}</span>
                  <span>{{ slot.start }} - {{ slot.end }}</span>
                </div>
              </template>
            </v-col>
            <v-col
              class="text-center"
              cols="12"
              v-if="step === 3"
            >
              <h5 class="text-left mt-5">PROMO CODE</h5>
              <promo-code
                :updatePromoCode="updatePromoCode"
                :location="location"
                :date="date"
              ></promo-code>
            </v-col>
            <v-col
              class="text-center"
              cols="12"
            >
              <h5 class="text-left mt-5">PAYMENT METHOD</h5>
              <client-only>
                <v-radio-group
                  v-model="paymentMethod"
                  class="mt-2"
                >
                  <div
                    style="border:1px solid black; padding: 15px 8px"
                    class="mb-2"
                    v-if="creditsLeft >= totalPayable "
                  >
                    <v-row>
                      <v-col cols="8">
                        <v-radio
                          value="Membership Credit"
                          color="accent"
                        >
                          <template v-slot:label>
                            <v-icon class="mr-2">mdi-wallet</v-icon>
                            <div style="font-weight: 600; color: black">
                              Membership Credit
                            </div>
                          </template>
                        </v-radio>
                      </v-col>
                      <v-col cols="4">
                        <div
                          style="font-weight: 600; color: black"
                          class="text-right"
                        >
                          ${{ totalPayable.toFixed(2) }}
                        </div>
                      </v-col>
                    </v-row>
                  </div>
                  <div
                    style="border:1px solid black; padding: 15px 8px"
                    class="mb-2"
                  >
                    <v-row
                      align="center"
                      justify="center"
                    >
                      <v-col cols="6">
                        <v-radio
                          value="PayNow"
                          color="accent"
                        >
                          <template v-slot:label>
                            <div style="width: 80px">
                              <img
                                src="/Images/PayNow.png"
                                alt="PayNow"
                                style="width: 100%"
                              />
                            </div>
                          </template>
                        </v-radio>
                      </v-col>
                      <v-col cols="6">
                        <div
                          style="font-weight: 600; color: black"
                          class="text-right"
                        >
                          ${{ totalPayable.toFixed(2) }}
                        </div>
                      </v-col>
                    </v-row>
                  </div>
                  <template v-for="(card, index) in cards">
                    <div
                      style="border:1px solid black; padding: 15px 8px"
                      class="mb-2"
                      :key="index"
                    >
                      <v-row>
                        <v-col cols="8">
                          <v-radio
                            :value="index"
                            color="accent"
                          >
                            <template v-slot:label>
                              <v-icon class="mr-2">mdi-credit-card</v-icon>
                              <div style="font-weight: 600; color: black">
                                <!-- {{ card.brand }} ending in {{ card.last4 }}  -->
                                {{ card.brand }} ending in {{ card.last4 }} ({{transactionFeeRate}}% fee)
                              </div>
                            </template>
                          </v-radio>
                        </v-col>
                        <v-col cols="4">
                          <div
                            style="font-weight: 600; color: black"
                            class="text-right"
                          >
                            <!-- ${{ totalPayable.toFixed(2) }} -->
                            ${{ totalPayable.toFixed(2) }} <br>+ ${{transactionFee.toFixed(2)}}
                          </div>
                        </v-col>
                      </v-row>
                    </div>
                  </template>
                  <div
                    style="border:1px solid black; padding: 15px 8px"
                    class="mb-2"
                  >
                    <v-row>
                      <v-col cols="9">
                        <v-radio
                          value="Credit Card"
                          color="accent"
                        >
                          <template v-slot:label>

                            <v-icon class="mr-2">mdi-credit-card</v-icon>
                            <div style="font-weight: 600; color: black">
                              <!-- Credit Card -->
                              Credit Card ({{transactionFeeRate}}% fee)
                            </div>

                          </template>
                        </v-radio>
                      </v-col>
                      <v-col cols="3">
                        <div
                          style="font-weight: 600; color: black"
                          class="text-right"
                        >
                          <!-- ${{ totalPayable.toFixed(2) }} -->
                          ${{ totalPayable.toFixed(2) }} <br>+ ${{transactionFee.toFixed(2)}}
                        </div>
                      </v-col>
                    </v-row>
                  </div>
                </v-radio-group>
              </client-only>

              <div v-show="paymentMethod === 'Credit Card'">
                <v-row>
                  <v-col cols="12">
                    <div
                      id="card-number"
                      class="field"
                    >
                      <!-- A Stripe Element will be inserted here. -->
                    </div>
                  </v-col>
                  <v-col cols="6">
                    <div
                      id="card-expiry"
                      class="field"
                    ></div>
                  </v-col>
                  <v-col cols="6">
                    <div
                      id="card-cvc"
                      class="field"
                    ></div>
                  </v-col>
                </v-row>

                <!-- Used to display Element errors. -->
                <div
                  id="card-errors"
                  role="alert"
                  class="red--text"
                ></div>
              </div>
              <client-only>
                <div style="max-width: 310px; margin: 0 auto">
                  <template v-if="user && (user.contact === undefined || user.contact === '')">
                    <v-text-field
                      outlined
                      label="Mobile Number"
                      v-model="contact"
                    ></v-text-field>
                  </template>
                  <template v-for="(terms, index) in configTerms">
                    <div
                      :key="index"
                      class="d-flex align-center"
                    >
                      <v-checkbox
                        :key="index"
                        v-model="acceptTerms[index]"
                        color="accent"
                      >
                      </v-checkbox>
                      <div v-html="terms.html">
                      </div>
                    </div>

                  </template>

                </div>
              </client-only>
              <v-alert
                v-if="error"
                dense
                outlined
                type="error"
              >
                {{ errorMessage }}
              </v-alert>
              <v-btn
                block
                rounded
                v-if="!reBook"
                :disabled="disabledBook"
                class="accent white--text the-ark-nav-btn"
                @click.prevent="submitPayment"
              >Confirm My Booking</v-btn>
              <v-btn
                block
                rounded
                class="secondary the-ark-nav-btn mt-3"
                @click.prevent="goBackToBookingScreen"
              >Back to Booking Selection</v-btn>
            </v-col>
          </v-row>
        </v-card>
      </div>
    </div>

    <!-- Step 4  QR Payment-->
    <div v-show="step === 4">
      <v-img
        src="/Images/title_booking.png"
        height="220"
      >
        <v-row
          align="center"
          justify="center"
          class="fill-height"
        >
          <v-col
            class="text-center white--text"
            cols="12"
          >
            <h1>PayNow Scan & Pay</h1>
          </v-col>
        </v-row>
      </v-img>
      <div
        class="nm-container"
        id="qrPaymentScreen"
      >
        <v-card
          flat
          class="px-8 mx-auto"
          max-width="600"
        >
          <v-row class="mt-3">
            <v-col cols="6">
              Total Payment
            </v-col>
            <v-col
              cols="6"
              class="text-right"
            >
              <b>${{ totalPayable}}</b>
            </v-col>
            <v-col cols="12">
              <v-divider></v-divider>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="6">
              Payment Within
            </v-col>
            <v-col
              class="text-right"
              cols="6"
              v-if="QRBookingDetails"
            >
              <b>10 minutes</b><br />
              <span>Due on {{ $moment(QRBookingDetails[0].data.submittedDate).add(10, 'minutes').format("DD MMM YYYY HH:mm") }}</span>
            </v-col>
            <v-col cols="12">
              <v-divider></v-divider>
            </v-col>
          </v-row>
          <v-row
            align="center"
            justify="center"
          >
            <v-col
              class="text-center"
              cols="12"
            >
              <VueQR
                width="300"
                logoSrc="/Images/PayNow.png"
                :text="qrCode"
                colorDark="#7C1A78"
                :logoScale="0.23"
                :logoMargin="1.5"
                :logoCornerRadius="0.1"
              />
            </v-col>
          </v-row>

          <v-expansion-panels
            v-model="panels"
            class="mb-8"
          >
            <v-expansion-panel>
              <v-expansion-panel-header>
                Please follow these instructions
              </v-expansion-panel-header>
              <v-expansion-panel-content>
                <v-card>
                  <v-card-text>
                    <v-row>
                      <v-col cols="2">
                        <v-avatar color="teal">
                          <span class="white--text headline">1</span>
                        </v-avatar>
                      </v-col>
                      <v-col cols="10">
                        Save or screenshot the QR code to make payments using
                        PayNow supporting apps.
                      </v-col>
                    </v-row>
                    <v-row>
                      <v-col cols="2">
                        <v-avatar color="teal">
                          <span class="white--text headline">2</span>
                        </v-avatar>
                      </v-col>
                      <v-col cols="10">
                        Make sure the recipient is <b>ARK SPORTS MANAGEMENT PTE LTD</b>
                      </v-col>
                    </v-row>
                    <v-row>
                      <v-col cols="2">
                        <v-avatar color="teal">
                          <span class="white--text headline">3</span>
                        </v-avatar>
                      </v-col>
                      <v-col cols="10">
                        If you have successfully made the payment but the page is not automatically redirected, please contact us. Thank you.</b>
                      </v-col>
                    </v-row>
                  </v-card-text>
                </v-card>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>
        </v-card>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import filter from "lodash/filter";
import groupBy from "lodash/groupBy";
import orderBy from "lodash/orderBy";
import find from "lodash/find";
import PaynowQR from "paynowqr";
import { generateReceipt } from "~/helpers/generateReceipt";
import { generateCreditReceipt } from "~/helpers/generateCreditReceipt";
export default {
  async fetch({ store }) {
    await Promise.all([
      store.dispatch("timeslots/GET_TIMESLOTS"),
      store.dispatch("locations/GET_LOCATIONS"),
      store.dispatch("pitches/GET_PITCHES"),
      store.dispatch("holidays/GET_HOLIDAYS"),
      store.dispatch("promocodes/GET_PROMOCODES"),
      store.dispatch("config/GET_CONFIG"),
    ]);
  },

  async mounted() {
    if (this.$store.state.booking.booking) {
      const { location, date } = this.$store.state.booking.booking;
      this.location = location;
      this.date = date;
      if (location && date) {
        setTimeout(() => {
          this.scrollToSelector("#timeSelector");
        }, 100);
      } else if (location) {
        setTimeout(() => {
          this.scrollToSelector("#venueDateSelector");
        }, 100);
      }
    }

    if (this.user && this.user.sid) {
      await this.retrieveCustomer(this.user.sid);
    }
  },
  data() {
    return {
      location: null,
      date: null,
      selectedTimeslots: null,
      sheet: false,
      groupedTimeslots: {},
      step: 1,
      innerStep: "login",
      loading: false,
      disabledBook: false,
      message: "Please Stand By",
      acceptTerms: [],
      paymentMethod: null,
      QRBookingDetails: null,
      customer: null,
      cardElement: null,
      error: false,
      errorMessage: "",
      promocode: null,
      reBook: false,
      stripe: null,
      panels: 0,
      timer: 0,
      contact: "",
      transactionFeeRate: 5,
      //stripeServerUrl: "http://localhost:8080"
      //stripeServerUrl:"https://the-ark-test-node-289505.et.r.appspot.com",
      stripeServerUrl: "https://the-ark-node.el.r.appspot.com",
    };
  },
  watch: {
    date(newValue) {
      this.selectedTimeslots = null;
      this.promocode = null;
      this.$store.dispatch("bookings/GET_BOOKEDSLOTS", {
        location: this.location,
        date: newValue,
      });
      this.scrollToSelector("#timeSelector");
    },
    location(newValue) {
      this.selectedTimeslots = null;
      this.promocode = null;
      this.$store.dispatch("bookings/GET_BOOKEDSLOTS", {
        location: newValue,
        date: this.date,
      });
      if (this.location && this.date) {
        setTimeout(() => {
          this.scrollToSelector("#timeSelector");
        }, 100);
      } else if (this.location) {
        setTimeout(() => {
          this.scrollToSelector("#venueDateSelector");
        }, 100);
      }
    },
    async user(newValue) {
      if (newValue) {
        if (this.stripe === null) {
          await this.initialiseStripe();
        }
        if (this.user && this.user.sid) {
          await this.retrieveCustomer(this.user.sid);
        }
        if (this.creditsLeft && this.creditsLeft < this.totalPayable) {
          this.step = 1;
        } else {
          this.step = 3;
        }
      } else {
        this.step = 1;
      }
    },
  },
  computed: {
    ...mapState({
      booking: (state) => state.booking.booking,
      locations: (state) => state.locations.locations,
      pitches: (state) => state.pitches.pitches,
      holidays: (state) => state.holidays.holidays,
      timeslots: (state) => state.timeslots.timeslots,
      bookedSlots: (state) => state.bookings.bookedSlots,
      creditsLeft: (state) => state.credits.creditsLeft,
      user: (state) => state.user,
      userPackages: (state) => state.credits.userPackages,
      actualCreditsLeft: (state) => state.credits.actualCreditsLeft,
      config: (state) => state.config.config,
    }),
    cards() {
      if (this.customer && this.customer.sources) {
        return this.customer.sources.data;
      }
      return [];
    },
    minDate() {
      let end = this.$moment(
        `${this.$moment().format("YYYY-MM-DD")} 23:00`,
        "YYYY-MM-DD hh:mm"
      );
      let min = this.$moment().add(3, "hour");
      if (min.isSameOrAfter(end)) {
        return this.$moment().add(1, "day").format();
      } else {
        return this.$moment().format();
      }
    },
    configTerms() {
      let terms = [];
      if (this.location) {
        this.config.termsCheckbox.forEach((term) => {
          if (term.locations.includes(this.location)) {
            terms.push(term);
          }
        });
      }
      return terms;
    },
    maxDate() {
      // if (this.actualCreditsLeft) {
      //   return this.$moment()
      //     .add(2, "month")
      //     .format();
      // }
      return this.$moment().add(1, "month").format();
    },
    locationDetails() {
      let location = this.locations.find((o) => {
        return o.name === this.location;
      });
      return location ? location : null;
    },
    locationPitches() {
      let location = this.locations.find((o) => {
        return o.name === this.location;
      });
      if (location !== undefined) {
        return this.pitches.filter((o) => {
          return o.locationKey === location.key;
        });
      }
      return [];
    },
    locationTimeslots() {
      if (this.date) {
        let day = this.$moment(this.date).format("ddd");
        return filter(this.timeslots, (o) => {
          return o.location === this.location && o.days.includes(day);
        });
      }
      return [];
    },
    totalPayable() {
      let total = 0;
      this.selectedTimeslots &&
        this.selectedTimeslots.map((slot) => {
          total += parseInt(slot.rate);
        });
      return total - this.discount;
    },
    creditCardTotalPayable() {
      let total = 0;
      if (this.totalPayable !== 0) {
        total = this.totalPayable + this.transactionFee;
      }
      return total;
    },
    transactionFee() {
      let fee = 0;
      if (this.totalPayable !== 0) {
        fee = (this.totalPayable * this.transactionFeeRate) / 100;
      }
      return fee;
    },
    qrCode() {
      let qrcode = new PaynowQR({
        uen: "200714008NWEB",
        amount: this.totalPayable.toFixed(2),
        editable: true,
        expiry: this.$moment().add(10, "minutes").format("YYYYMMDDHHmmss"),
        refNumber: this.referenceCode,
        company: "ARK SPORTS MANAGEMENT PTE LTD",
      });

      let QRString = qrcode.output();
      return QRString ? QRString : null;
    },
    referenceCode() {
      let refCode = "ARK";
      if (this.QRBookingDetails && this.QRBookingDetails.length > 0) {
        refCode =
          this.QRBookingDetails[0].data.bookingKey.replace(/_/g, "@") +
          " Booking";
      }
      return refCode;
    },
    stripeDescription() {
      let slotsDescription = "";
      Object.keys(this.groupedTimeslots).map((key) => {
        let slots = this.groupedTimeslots[key];
        slots.map((timeslot, index) => {
          const { start, end, pitch } = timeslot;
          slotsDescription += `Pitch ${pitch} ${start} to ${end}`;
          if (index < slots.length - 1) {
            slotsDescription += " , ";
          }
        });
      });
      return `${this.location} / ${this.$moment(this.date).format(
        "YYYY-MM-DD"
      )} / ${slotsDescription}`;
    },
    discount() {
      let discount = 0;
      if (this.promocode) {
        const { timeslotTypes, value, type } = this.promocode;
        Object.keys(this.groupedTimeslots).map((key) => {
          let timeslots = this.groupedTimeslots[key];
          timeslots.map((timeslot) => {
            if (timeslotTypes.includes(timeslot.type)) {
              if (type === "Amount") {
                discount = parseInt(value);
              } else if (type === "Percentage") {
                discount += (timeslot.rate * parseInt(value)) / 100;
              } else if (type === "Session") {
                discount += parseInt(value);
              }
            }
          });
        });
      }

      return discount;
    },
  },
  components: {
    VenueDateSelector: () => import("../../components/VenueDateSelector"),
    TimeSelector: () => import("../../components/TimeSelector"),
    LoginSignUpForm: () => import("../../components/LoginSignUpForm.vue"),
    Loading: () => import("../../components/Loading"),
    PromoCode: () => import("../../components/PromoCode"),
    VueQR: () => import("vue-qr"),
  },
  methods: {
    initialiseStripe() {
      var elementStyles = {
        base: {
          color: "#000",
          fontWeight: 600,
          fontSize: "16px",
          fontSmoothing: "antialiased",

          ":focus": {
            color: "#424770",
          },

          "::placeholder": {
            color: "#9BACC8",
          },

          ":focus::placeholder": {
            color: "#9BACC8",
          },
        },
        invalid: {
          color: "#fff",
          ":focus": {
            color: "#FA755A",
          },
          "::placeholder": {
            color: "#FFCCA5",
          },
        },
      };

      var elementClasses = {
        focus: "focus",
        empty: "empty",
        invalid: "invalid",
      };
      this.stripe = this.$stripe.import();
      const elements = this.stripe.elements();
      const cardNumber = elements.create("cardNumber", {
        style: elementStyles,
        classes: elementClasses,
      });
      cardNumber.mount("#card-number");

      this.cardElement = cardNumber;
      const cardExpiry = elements.create("cardExpiry", {
        style: elementStyles,
        classes: elementClasses,
      });
      cardExpiry.mount("#card-expiry");

      const cardCvc = elements.create("cardCvc", {
        style: elementStyles,
        classes: elementClasses,
      });
      cardCvc.mount("#card-cvc");
    },
    retrieveCustomer(sid) {
      return new Promise((resolve, reject) => {
        this.loading = true;
        this.message = "Retrieving Customer Details";
        this.$axios
          .post(`${this.stripeServerUrl}/stripe/retrieve`, {
            id: sid,
          })
          .then((res) => {
            this.customer = res.data;
            this.loading = false;
            this.message = "";
            resolve();
          })
          .catch((err) => {
            this.loading = false;
            this.message = "";
            resolve();
          });
      });
    },
    scrollToSelector(selector) {
      this.$vuetify.goTo(selector, {
        duration: 300,
        offset: 0,
        easing: "easeInOutCubic",
      });
    },

    updateBooking(selectedSlots) {
      this.selectedTimeslots = selectedSlots;
      this.groupedTimeslots = groupBy(selectedSlots, "date");
      let sortedKeys = orderBy(
        Object.keys(this.groupedTimeslots),
        [(o) => new this.$moment(o, "DD-MM-YYYY")],
        ["asc"]
      );
      let sortedBookings = {};
      sortedKeys.map((key) => {
        sortedBookings[key] = this.groupedTimeslots[key];
      });
      this.groupedTimeslots = { ...sortedBookings };
      this.sheet = true;
    },
    async bookNow() {
      if (this.user) {
        if (this.stripe === null) {
          await this.initialiseStripe();
        }

        this.step = 3;
        setTimeout(() => {
          this.scrollToSelector("#paymentScreen");
        }, 100);
      } else {
        this.step = 2;
        setTimeout(() => {
          this.scrollToSelector("#loginScreen");
        }, 100);
      }
    },
    checkBooking(existingBooking) {
      let booked = false;
      Object.keys(this.groupedTimeslots).map((key) => {
        let slot = this.groupedTimeslots[key];
        Object.keys(slot).map((k) => {
          let { pitch, start, date } = slot[k];
          let found = find(
            existingBooking,
            (o) =>
              o.start === start &&
              o.pitch === pitch &&
              this.$moment(o.date).format("YYYY-MM-DD") === date
          );
          if (found !== undefined) {
            booked = true;
          }
        });
      });
      return booked;
    },
    resetBooking() {
      const selectedDate = this.date;
      this.selectedTimeslots = null;
      this.groupedTimeslots = {};
      this.sheet = false;
      this.date = null;
      this.date = selectedDate;
      this.error = false;
      this.errorMessage = "";
    },
    sendSlotsToServer(bookingSlots) {
      return new Promise((resolve, reject) => {
        const groupByPitch = groupBy(bookingSlots, (o) => o.data.pitch);
        let promises = [];
        Object.keys(groupByPitch).map((pitch) => {
          const startSlot = groupByPitch[pitch][0];
          const endSlot = groupByPitch[pitch][groupByPitch[pitch].length - 1];
          let totalDuration = 0;
          groupByPitch[pitch].forEach(
            (slot) => (totalDuration += slot.data.duration)
          );
          const axiosData = {
            method: "post",
            headers: {
              Authorization: `Basic Ym9va2luZzpUaGVhcmtzZzEyMyE=`,
              "Content-Type": "application/json",
            },
            data: {
              slotKey: startSlot.slotKey,
              bookingKey: startSlot.data.bookingKey,
              date: startSlot.data.date,
              duration: totalDuration,
              end: endSlot.data.end,
              location: startSlot.data.location,
              name: startSlot.data.name,
              email: startSlot.data.email,
              pitch: `${startSlot.data.location.split(" ").join("_")}_${
                startSlot.data.pitch
              }`,
              rate: startSlot.data.rate,
              start: startSlot.data.start,
              status: "Paid",
              submittedDate: startSlot.data.submittedDate,
            },
            url: "https://thearkautomate.et.r.appspot.com/booking/",
          };
          let a = this.$axios(axiosData);
          promises.push(a);
        });

        Promise.all(promises)
          .then((res) => {
            console.log(res);
            resolve();
          })
          .catch((err) => {
            console.log(err);
            reject();
          });
      });
    },
    goBackToBookingScreen() {
      if (this.reBook) {
        this.resetBooking();
        this.reBook = false;
      }
      this.step = 1;
    },
    updatePromoCode(promocode) {
      this.promocode = promocode;
    },
    async submitPayment() {
      let existingBooking = await this.$store.dispatch(
        "bookings/GET_BOOKEDSLOTS",
        { location: this.location, date: this.date }
      );
      if (!existingBooking || this.checkBooking(existingBooking) === false) {
        if (this.paymentMethod === null) {
          this.errorMessage = "Please select payment method to proceed";
          this.error = true;
        } else if (this.user.contact === undefined && this.contact === "") {
          this.errorMessage = "Please enter your mobile number to proceed";
          this.error = true;
        } else if (
          this.acceptTerms.length !== this.configTerms.length ||
          this.acceptTerms.every((t) => t === true) === false
        ) {
          this.errorMessage = "Please accept Terms and Conditions to proceed";
          this.error = true;
        } else {
          this.error = false;
          this.errorMessage = "";
          await this.$store.dispatch("UPDATE_USER", {
            key: this.user.uid,
            contact: this.contact ? this.contact : this.user.contact,
          });
          if (this.paymentMethod === "PayNow") {
            this.loading = true;
            this.message = "Processing Booking";
            let bookingData = {
              submittedDate: this.$moment().format(),
              location: this.location,
              date: this.$moment(this.date).format(),
              paymentMethod: "PayNow",
              paymentStatus: "Pending",
              name: this.user.name ? this.user.name : null,
              contact: this.user.contact
                ? this.user.contact
                : this.contact
                ? this.contact
                : "",
              email: this.user.email,
              userKey: this.user.uid,
              amount: parseFloat(this.totalPayable.toFixed(2)),
              promocode: this.promocode ? this.promocode : null,
            };
            const bookingDetails = await this.$store.dispatch(
              "bookings/ADD_BOOKING",
              {
                bookingData,
                selectedTimeslots: this.groupedTimeslots,
              }
            );
            this.QRBookingDetails = bookingDetails;
            this.$store.dispatch(
              "payment/UPDATE_PAYMENT_STATUS",
              bookingDetails[0].data.bookingKey
            );
            this.$store.subscribe((mutation, state) => {
              if (
                mutation.type === "payment/updatePayment" &&
                state.payment.paid === "Paid"
              ) {
                this.loading = true;
                this.timer = setTimeout(() => {
                  this.loading = false;
                  this.timer = void 0;
                  this.$router.push("/booking/thankyou");
                }, 2000);
              }
            });
            this.step = 4;
            this.loading = false;
          } else if (this.paymentMethod === "Credit Card") {
            const { token, error } = await this.stripe.createToken(
              this.cardElement
            );
            if (error) {
              // Inform the customer that there was an error.
              const errorElement = document.getElementById("card-errors");
              errorElement.textContent = error.message;
            } else {
              this.loading = true;
              this.message = "Processing Payment";
              const errorElement = document.getElementById("card-errors");
              errorElement.textContent = "";
              this.$axios
                .post(`${this.stripeServerUrl}/stripe/create`, {
                  email: this.user.email,
                  source: token.id,
                })
                .then((res) => {
                  this.$store
                    .dispatch("UPDATE_USER", {
                      key: this.user.uid,
                      sid: res.data.id,
                    })
                    .then((r) => {
                      this.$axios
                        .post(`${this.stripeServerUrl}/stripe/charge`, {
                          amount: parseInt(
                            (this.creditCardTotalPayable * 100).toFixed()
                          ),
                          currency: "sgd",
                          description: this.stripeDescription,
                          customer: res.data.id,
                          idempotencyKey:
                            this.stripeDescription + this.user.email,
                        })
                        .then(async (cRes) => {
                          if (cRes.data.status === "succeeded") {
                            let bookingData = {
                              submittedDate: this.$moment().format(),
                              location: this.location,
                              date: this.$moment(this.date).format(),
                              paymentMethod: "Card",
                              paymentDetails: cRes.data,
                              name: this.user.name ? this.user.name : null,
                              contact: this.user.contact
                                ? this.user.contact
                                : this.contact
                                ? this.contact
                                : "",
                              email: this.user.email,
                              userKey: this.user.uid,
                              amount: parseFloat(
                                //this.totalPayable.toFixed(2)
                                this.creditCardTotalPayable.toFixed(2)
                              ),
                              bookingFee: this.totalPayable.toFixed(2),
                              transactionFee: this.transactionFee.toFixed(2),
                              promocode: this.promocode ? this.promocode : null,
                            };
                            const bookingDetails = await this.$store.dispatch(
                              "bookings/ADD_BOOKING",
                              {
                                bookingData,
                                selectedTimeslots: this.groupedTimeslots,
                              }
                            );

                            let mailData = {
                              method: "post",
                              url: `${this.stripeServerUrl}/email/send`,
                              data: {
                                to: this.user.email,
                                subject: `The ARK Futsal Pitch Booking on ${this.$moment(
                                  this.date
                                ).format("DD-MM-YYYY dddd")}`,
                                text: "The ARK Futsal Pitch Booking",
                                html: generateReceipt(
                                  bookingData,
                                  this.groupedTimeslots,
                                  this.discount
                                ),
                                bcc: this.locationDetails.bcc.split(","),
                              },
                            };
                            await this.$axios(mailData);
                            if (bookingDetails) {
                              await this.sendSlotsToServer(bookingDetails);
                            }
                            this.loading = false;
                            this.$router.push("/booking/thankyou");
                          }
                        })
                        .catch((error) => {
                          console.log(error);
                          this.errorMessage =
                            "We are unable to process the payment currently. Please try again or contact us if you face similar issue again. Thank you for your understanding.";
                          this.error = true;
                          this.loading = false;
                        });
                    });
                })
                .catch((error) => {
                  this.errorMessage =
                    "We are unable to process the payment currently. Please try again or contact us if you face similar issue again. Thank you for your understanding.";
                  this.error = true;
                  this.loading = false;
                });
            }
          } else if (this.paymentMethod === "Membership Credit") {
            this.loading = true;
            this.disabledBook = true;
            this.message = "Processing Payment";
            const remainingCreditsAfterPurchase =
              parseInt(this.creditsLeft) - this.totalPayable;
            let remaining = this.totalPayable;
            let promises = this.userPackages.reduce((chain, item) => {
              return new Promise(async (resolve, reject) => {
                if (remaining === 0) {
                  resolve();
                } else {
                  const creditsLeft = item.creditsLeft
                    ? item.creditsLeft
                    : item.value;
                  if (creditsLeft >= remaining) {
                    let data = {
                      key: item.key,
                      creditsLeft: creditsLeft - remaining,
                    };
                    remaining = 0;
                    await this.$store.dispatch(
                      "credits/UPDATE_CREDIT_PACKAGE",
                      data
                    );
                    resolve();
                  } else if (creditsLeft < remaining) {
                    let data = {
                      key: item.key,
                      creditsLeft: 0,
                    };
                    remaining -= creditsLeft;

                    await this.$store.dispatch(
                      "credits/UPDATE_CREDIT_PACKAGE",
                      data
                    );
                    resolve();
                  }
                }
              });
            }, Promise.resolve());
            promises.then(async (res) => {
              let bookingData = {
                submittedDate: this.$moment().format(),
                location: this.location,
                date: this.$moment(this.date).format(),
                paymentMethod: "Credit",
                name: this.user.name ? this.user.name : "",
                contact: this.user.contact
                  ? this.user.contact
                  : this.contact
                  ? this.contact
                  : "",
                email: this.user.email,
                userKey: this.user.uid,
                amount: parseFloat(this.totalPayable.toFixed(2)),
                promocode: this.promocode ? this.promocode : null,
                remainingCredits: remainingCreditsAfterPurchase,
              };
              const bookingDetails = await this.$store.dispatch(
                "bookings/ADD_BOOKING",
                {
                  bookingData,
                  selectedTimeslots: this.groupedTimeslots,
                }
              );
              let mailData = {
                method: "post",
                url: `${this.stripeServerUrl}/email/send`,
                data: {
                  to: this.user.email,
                  subject: `The ARK Futsal Pitch Booking on ${this.$moment(
                    this.date
                  ).format("DD-MM-YYYY dddd")}`,
                  text: "The ARK Futsal Pitch Booking",
                  html: generateCreditReceipt(
                    bookingData,
                    this.groupedTimeslots
                  ),
                  bcc: this.locationDetails.bcc.split(","),
                },
              };
              await this.$axios(mailData);
              if (bookingDetails) {
                await this.sendSlotsToServer(bookingDetails);
              }
              this.loading = false;
              this.$router.push("/booking/thankyou");
            });
          } else {
            this.loading = true;
            this.message = "Processing Payment";
            const card = this.cards[this.paymentMethod];
            this.$axios
              .post(`${this.stripeServerUrl}/stripe/charge`, {
                amount: parseInt((this.creditCardTotalPayable * 100).toFixed()),
                currency: "sgd",
                source: card.id,
                description: this.stripeDescription,
                customer: this.customer.id,
                idempotencyKey: this.stripeDescription + this.user.email,
              })
              .then(async (cRes) => {
                if (cRes.data.status === "succeeded") {
                  let bookingData = {
                    submittedDate: this.$moment().format(),
                    location: this.location,
                    date: this.$moment(this.date).format(),
                    paymentMethod: "Card",
                    paymentDetails: cRes.data,
                    name: this.user.name ? this.user.name : null,
                    contact: this.user.contact
                      ? this.user.contact
                      : this.contact
                      ? this.contact
                      : "",
                    email: this.user.email,
                    userKey: this.user.uid,
                    amount: parseFloat(
                      // this.totalPayable.toFixed(2)
                      this.creditCardTotalPayable.toFixed(2)
                    ),
                    bookingFee: this.totalPayable.toFixed(2),
                    transactionFee: this.transactionFee.toFixed(2),
                    promocode: this.promocode ? this.promocode : null,
                  };
                  const bookingDetails = await this.$store.dispatch(
                    "bookings/ADD_BOOKING",
                    {
                      bookingData,
                      selectedTimeslots: this.groupedTimeslots,
                    }
                  );
                  let mailData = {
                    method: "post",
                    url: `${this.stripeServerUrl}/email/send`,
                    data: {
                      to: this.user.email,
                      subject: `The ARK Futsal Pitch Booking on ${this.$moment(
                        this.date
                      ).format("DD-MM-YYYY dddd")}`,
                      text: "The ARK Futsal Pitch Booking",
                      html: generateReceipt(
                        bookingData,
                        this.groupedTimeslots,
                        this.discount
                      ),
                      bcc: this.locationDetails.bcc.split(","),
                    },
                  };
                  await this.$axios(mailData);
                  if (bookingDetails) {
                    await this.sendSlotsToServer(bookingDetails);
                  }
                  this.loading = false;
                  this.$router.push("/booking/thankyou");
                }
              })
              .catch((error) => {
                console.log(error);
                this.errorMessage =
                  "We are unable to process the payment currently. Please try again or contact us if you face similar issue again. Thank you for your understanding.";
                this.error = true;
                this.loading = false;
              });
          }
        }
      } else {
        this.errorMessage =
          "It seems someone has made a booking of the same slot. Please select another slot and try again.";
        this.error = true;
        this.reBook = true;
      }
    },
  },
};
</script>

<style scoped>
.v-footer {
  border-top: 1px solid white;
}
.field {
  padding: 10px 20px 11px;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 5px;
  width: 100%;
  color: black;
}
</style>
