<template>
  <div>
    <v-parallax height="220" src="/Images/title_booking.png">
      <v-row align="center" justify="center">
        <v-col class="text-center" cols="12">
          <h1>Booking</h1>
        </v-col>
      </v-row>
    </v-parallax>
    <div class="text-center pa-8 ma-3" style="border: 1px solid grey ; border-radius : 5px">
      <h4>Thank you for booking at The ARK.</h4>
      <div class="text-center mt-10">
        <v-btn color="accent" @click.native="$router.push('/user')">View Bookings</v-btn>
      </div>
    </div>
    <v-card>
      <v-card-title></v-card-title>
    </v-card>
  </div>
</template>
