<template>
  <div>
    <v-carousel
      height="260"
      hide-delimiter-background
      :show-arrows="false"
    >
      <v-carousel-item
        v-for="(item, i) in location.gallery"
        :key="i"
        reverse-transition="fade"
        transition="fade"
      >
        <cld-image
          cloudName="thearksg"
          :publicId="item"
          :alt="item"
          responsive="fill"
        />
      </v-carousel-item>
    </v-carousel>
    <div class="text-center">
      <h2 class="ma-7">{{ location.name }} Pitch</h2>
      <div style="max-width: 350px; margin: 20px auto">
        <template v-for="(item, index) in pitchBySize">
          <v-row
            :key="index"
            class="accent--text"
          >
            <v-col cols="4">
              <div style="background: #F7FFF4; border: 1px solid #0A8900; border-radius: 5px; padding: 15px 7px">
                <div class="px-3">
                  <img
                    src="/Icon/pitch_green_icon1.svg"
                    style="width: 100%"
                  />
                </div>

                <div style="font-weight: 600">{{ item.length }} {{item.length === 1 ? 'Field' : 'Fields'}}</div>
              </div>
            </v-col>
            <v-col cols="4">
              <div style="background: #F7FFF4; border: 1px solid #0A8900; border-radius: 5px; padding: 15px 7px">
                <div class="px-3">
                  <img
                    src="/Icon/pitch_green_icon2.svg"
                    style="width: 100%"
                  />
                </div>
                <div style="font-weight: 600">Astro Turf</div>
              </div>
            </v-col>
            <v-col cols="4">
              <div style="background: #F7FFF4; border: 1px solid #0A8900; border-radius: 5px; padding: 15px 7px">
                <div class="px-3">
                  <img
                    src="/Icon/pitch_green_icon3.svg"
                    style="width: 100%"
                  />
                </div>
                <div style="font-weight: 600">{{ index }}-aside</div>
              </div>
            </v-col>
          </v-row>
        </template>
      </div>
      <v-btn
        rounded
        color="accent"
        class="white--text the-ark-nav-btn mx-3 mb-7"
        @click="$router.push(`/booking/${location.name}`)"
      >Book Now</v-btn>
      <v-card>
        <GmapMap
          v-bind:center="center"
          v-bind:map-type-id="mapTypeId"
          v-bind:zoom="16"
        >
          <GmapMarker
            :position="marker.position"
            @click="center = marker.position"
          >
            <h6>{{ location.name }}</h6>
          </GmapMarker>
        </GmapMap>
      </v-card>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import find from "lodash/find";
import filter from "lodash/filter";
import groupBy from "lodash/groupBy";
export default {
  async fetch({ store, params }) {
    await store.dispatch("locations/GET_LOCATIONS");
    await store.dispatch("pitches/GET_PITCHES");
  },
  data() {
    return {
      mapTypeId: "terrain",
    };
  },
  computed: {
    ...mapState({
      pitches: (state) => state.pitches.pitches,
      locations: (state) => state.locations.locations,
    }),
    location() {
      return find(this.locations, { name: this.$route.params.location });
    },
    pitchBySize() {
      return this.location
        ? groupBy(
            filter(this.pitches, { locationKey: this.location.key }),
            "size"
          )
        : null;
    },
    center() {
      let center = {
        lat: parseFloat(this.location.lat),
        lng: parseFloat(this.location.lng),
      };
      return center;
    },
    marker() {
      return {
        position: this.center,
      };
    },
  },
  methods: {
    mapsSelector() {
      if (
        /* if we're on iOS, open in Apple Maps */
        navigator.platform.indexOf("iPhone") != -1 ||
        navigator.platform.indexOf("iPad") != -1 ||
        navigator.platform.indexOf("iPod") != -1
      )
        window.open(
          `maps://maps.google.com/maps?saddr=current+location&daddr=${this.location.lat},${this.location.lng}&amp;ll=`
        );
      /* else use Google */ else
        window.open(
          `https://maps.google.com/maps?saddr=current+location&daddr=${this.location.lat},${this.location.lng}&amp;ll=`
        );
    },
  },
};
</script>

<style>
.pitch-header {
  padding: 10px;
  text-align: center;
  background: #3f3f3f;
  color: white;
}
.vue-map-container {
  height: 450px;
  width: 100%;
}
</style>
