<template>
  <div>
    <v-card style="max-width: 500px" class="text-center pb-12">
      <v-layout>
        <v-flex text-xs-center xs12 style="margin: 40px auto; max-width: 400px">
          <Loading v-if="loading" />
          <v-card flat class="px-8">
            <div class="text-center mb-8">
              <h3>Sign Up</h3>
            </div>
            <v-form ref="form" v-model="valid" lazy-validation>
              <v-text-field
                color="black"
                outlined
                name="contact"
                label="Mobile"
                v-model="signUp.contact"
                :rules="[v => !!v || 'Mobile is required']"
              ></v-text-field>

              <v-alert v-model="error" type="error" outlined>{{
                errorMessage
              }}</v-alert>
              <div style="font-size: 12px;" class="mb-4 text-left">
                By creating your account, you agree to
                <br />
                <a
                  target="_blank"
                  href="/terms"
                  class="accent--text"
                  style="text-decoration: none"
                  >Terms and Conditions</a
                >
                and
                <a
                  target="_blank"
                  href="/pdpa"
                  class="accent--text"
                  style="text-decoration: none"
                  >PDPA</a
                >
              </div>

              <v-btn
                rounded
                block
                color="accent"
                class="white--text the-ark-nav-btn"
                @click="onSubmit"
                aria-label="Sign Up"
                >Sign Up</v-btn
              >
            </v-form>
          </v-card>
        </v-flex>
      </v-layout>
    </v-card>
  </div>
</template>

<script>
export default {
  props: ["data"],
  data() {
    return {
      valid: "",
      signUp: {
        contact: ""
      },
      confirm: "",
      error: false,
      errorMessage: "",
      loading: false
    };
  },
  components: {
    Loading: () => import("./Loading")
  },
  methods: {
    async onSubmit() {
      let valid = this.$refs.form.validate();
      //   try {
      //     const token = await this.$recaptcha.getResponse();

      if (valid) {
        this.error = false;
        const data = {
          ...this.data,
          contact: this.signUp.contact,
          dateAgreedToTerms: this.$moment().format(),
          joined: this.$moment().format(),
          agreed: true
        };
        this.$store
          .dispatch("ADD_SSO_USER", { data, uid: this.data.uid })
          .then(res => {
            if (this.$route.path === "/login") {
              this.$router.push("/user");
            }
          })
          .catch(err => {
            this.error = true;
            this.errorMessage = err.message;
          });
      }
    }
  }
};
</script>
