<template>
  <div>
    <Loading v-if="loading" :message="message"></Loading>
    <v-form ref="form" lazy-validation class="mx-4">
      <v-text-field
        color="black"
        outlined
        name="First Name"
        label="First Name"
        v-model="contact.firstName"
        :rules="[v => !!v || 'First Name is required']"
      ></v-text-field>
      <v-text-field
        color="black"
        outlined
        name="Last Name"
        label="Last Name"
        v-model="contact.lastName"
        :rules="[v => !!v || 'Last Name is required']"
      ></v-text-field>
      <v-text-field
        color="black"
        outlined
        name="Email"
        label="Email"
        v-model="contact.email"
        :rules="[v => !!v || 'Email is required']"
      ></v-text-field>
      <v-text-field
        color="black"
        outlined
        name="Contact"
        label="Contact Number"
        v-model="contact.contact"
      ></v-text-field>
      <v-textarea
        color="black"
        outlined
        name="Message"
        label="Message"
        v-model="contact.message"
        :rules="[v => !!v || 'Message is required']"
      ></v-textarea>
      <v-btn
        rounded
        block
        color="accent"
        class="white--text the-ark-nav-btn mb-16"
        @click.prevent="submitForm"
        aria-label="Send"
        >Send</v-btn
      >
    </v-form>
  </div>
</template>

<script>
export default {
  data() {
    return {
      contact: {
        firstName: "",
        lastName: "",
        email: "",
        contact: "",
        message: ""
      },
      loading: false,
      message: "Submitting Form",
      serverUrl: process.env.PRODUCTION
        ? "https://the-ark-node.el.r.appspot.com"
        : "https://the-ark-test-node-289505.et.r.appspot.com"
    };
  },
  components: {
    Loading: () => import("~/components/Loading")
  },
  methods: {
    async submitForm() {
      if (this.$refs.form.validate()) {
        this.loading = true;
        await this.$fireDb.ref("contactUs").push(this.contact);
        let mailData = {
          method: "post",
          url: `${this.serverUrl}/email/send`,
          data: {
            to: "booking@theark.sg",
            subject:  `${
                  this.contact.firstName
                } contacted us on ${this.$moment().format("DD-MM-YYYY dddd")}`,
            text: "The ARK Futsal Pitch Contact Us Form",
            html: `<div>
                                <p>First Name: ${this.contact.firstName}</p>
                                <p>Last Name : ${this.contact.lastName}</p>
<p>Email : ${this.contact.email}</p>
 <p>Contact : ${this.contact.contact}</p>
<p>Message : ${this.contact.message}</p>
                              </div>`
          }
        };
        await this.$axios(mailData);
        this.loading = false;
        this.$router.push("/contactus/thankyou");
      }
    }
  }
};
</script>
