<template>
  <v-layout>
    <v-flex text-xs-center xs12 style="margin: 40px auto; max-width: 400px">
      <v-card flat class="px-8" v-if="forgotPassword">
        <div class="text-center mb-8">
          <h3>Forgot Password</h3>
        </div>
        <v-form ref="form" v-model="valid" lazy-validation>
          <v-text-field
            color="black"
            outlined
            name="Username"
            label="Email"
            v-model="signIn.email"
            :rules="[v => !!v || 'Email is required']"
          ></v-text-field>

          <v-alert v-model="userError" type="error" outlined>Sorry. There is no record of user or you might have signed in with Google or Facebook.</v-alert>
          <v-btn
            style="font-size: 12px;"
            color="accent"
            text
            @click.prevent="forgotPassword = false"
          >Go back to login screen</v-btn>
          <v-btn
            rounded
            block
            color="accent"
            class="white--text the-ark-nav-btn"
            @click="resetPassword"
            aria-label="Log In"
          >Reset Password</v-btn>
        </v-form>
      </v-card>
      <v-card flat class="px-8" v-else>
        <div class="text-center mb-8">
          <h3>Login</h3>
        </div>
        <v-form ref="form" v-model="valid" lazy-validation>
          <v-text-field
            color="black"
            outlined
            name="Username"
            label="Email"
            v-model="signIn.email"
            :rules="[v => !!v || 'Email is required']"
          ></v-text-field>
          <v-text-field
            outlined
            color="black"
            name="Password"
            label="Password"
            type="password"
            v-model="signIn.password"
            :rules="[v => !!v || 'Password is required']"
          ></v-text-field>
          <v-alert
            v-model="loginError"
            type="error"
            outlined
          >Incorrect Username or Password. Please try again.</v-alert>
          <v-btn
            style="font-size: 12px;"
            color="accent"
            text
            @click.prevent="forgotPassword = true"
          >Forgot Password?</v-btn>
          <v-btn
            rounded
            block
            color="accent"
            class="white--text the-ark-nav-btn"
            @click="emailSignIn"
            aria-label="Log In"
          >Log In</v-btn>
        </v-form>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  props: ["submitInnerStep"],
  data() {
    return {
      valid: "",
      signIn: {
        email: "",
        password: "",
      },
      forgotPassword: false,
      loginError: false,
      userError: false,
    };
  },
  methods: {
    async emailSignIn() {
      if (this.$refs.form.validate()) {
        let result = await this.$store.dispatch(
          "SIGN_IN_WITH_EMAIL",
          this.signIn
        );
        if (result) {
          if (result && this.$route.name === "login") {
            this.$router.push("/user");
          }
        } else {
          this.loginError = true;
        }
      }
    },
    async resetPassword() {
      if (this.$refs.form.validate()) {
        let result = await this.$store.dispatch(
          "RESET_PASSWORD",
          this.signIn.email
        );
        
        if (result === undefined || result.error) {
          this.userError = true;
        }
        // if (result) {
        //   if (result && this.$route.name === "login") {
        //     this.$router.push("/user");
        //   }
        // } else {
        //   this.loginError = true;
        // }
      }
    },
  },
};
</script>