<template>
  <div>
    <v-card style="max-width: 500px" class="text-center pb-12">
      <EmailLogin />
      <div class="black--text mb-4" style="font-size: 12px;">Or login with</div>
      <div class="px-8" style="margin: 0 auto; max-width: 400px">
        <v-btn
          color="#3b5998"
          block
          class="white--text the-ark-nav-btn"
          @click.native="facebookSignIn"
          aria-label="Facebook Sign In"
        >
          <img
            src="/Icon/button_facebook.svg"
            height="20"
            class="mr-3"
          />Facebook
        </v-btn>
        <v-btn
          color="#DB4437"
          block
          class="white--text the-ark-nav-btn my-2"
          @click.native="googleSignIn"
          aria-label="Google Sign In"
        >
          <img src="/Icon/button_google.svg" height="20" class="mr-3" />Google
        </v-btn>
        <v-alert v-model="loginError" type="error" outlined
          >Sorry. There is no record of user.</v-alert
        >

        <slot></slot>
      </div>
    </v-card>
  </div>
</template>

<script>
import EmailLogin from "./EmailLogin";
export default {
  data() {
    return {
      loginError: false
    };
  },
  components: {
    EmailLogin
  },
  methods: {
    async facebookSignIn() {
      let result = await this.$store.dispatch("SIGN_IN_FACEBOOK");
      if (result) {
        if (this.$route.name === "login") {
          this.$router.push("/user");
        }
      } else {
        this.loginError = true;
      }
    },
    async googleSignIn() {
      let result = await this.$store.dispatch("SIGN_IN_GOOGLE");
      if (result) {
        if (this.$route.name === "login") {
          this.$router.push("/user");
        }
      } else {
        this.loginError = true;
      }
    }
  }
};
</script>
