<template>
  <div class="login-background full-width">
    <div v-show="innerStep === 'login'">
      <v-row align="center" justify="center" class="pa-8">
        <v-col class="text-center" cols="12" sm="6">
          <h1 class="white--text">
            Welcome Back To
            <br />The Game
          </h1>
          <div class="mt-8">
            <img src="Logo/ark_logo_login_signup.svg" height="250" />
          </div>
        </v-col>
        <v-col class="text-center" cols="12" sm="6">
          <login-form>
            <div class="mt-14" style="font-size: 14px">
              Don't have an account?
              <span class="accent--text" @click.prevent="innerStep = 'signup'"
                >SIGN UP</span
              >
            </div>
          </login-form>
        </v-col>
      </v-row>
    </div>
    <div v-show="innerStep === 'signup'">
      <v-row align="center" justify="center" class="pa-8">
        <v-col class="text-center" cols="12" sm="6">
          <h1 class="white--text">
            Be Part of
            <br />The Game
          </h1>
          <div class="mt-8">
            <img src="Logo/ark_logo_login_signup.svg" height="250" />
          </div>
        </v-col>
        <v-col class="text-center" cols="12" sm="6">
          <sign-up-form>
            <v-btn
              color="#3b5998"
              block
              class="white--text the-ark-nav-btn"
              @click.native="facebookSignUp"
              aria-label="Facebook Sign In"
            >
              <img
                src="/Icon/button_facebook.svg"
                height="20"
                class="mr-3"
              />Facebook
            </v-btn>
            <v-btn
              color="#DB4437"
              block
              class="white--text the-ark-nav-btn my-2"
              @click.native="googleSignUp"
              aria-label="Google Sign In"
            >
              <img
                src="/Icon/button_google.svg"
                height="20"
                class="mr-3"
              />Google
            </v-btn>
            <v-alert v-model="loginError" type="error" outlined
              >Sorry. User already exist.</v-alert
            >
            <div class="mt-14" style="font-size: 14px">
              Already have an account?
              <span class="accent--text" @click.prevent="innerStep = 'login'"
                >LOG IN</span
              >
            </div>
          </sign-up-form>
        </v-col>
      </v-row>
    </div>
    <div v-show="innerStep === 'update'" id="updateScreen">
      <v-row align="center" justify="center" class="pa-8">
        <v-col class="text-center" cols="12" sm="6">
          <h1 class="white--text">
            Be Part of
            <br />The Game
          </h1>
          <div class="mt-8">
            <img src="Logo/ark_logo_login_signup.svg" height="250" />
          </div>
        </v-col>
        <v-col class="text-center" cols="12" sm="6">
          <contact-form :data="userData"></contact-form>
        </v-col>
      </v-row>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      innerStep: "login",
      userData: null,
      loginError: false
    };
  },
  components: {
    SignUpForm: () => import("../components/SignUpForm"),
    LoginForm: () => import("../components/LoginForm"),
    ContactForm: () => import("../components/ContactForm")
  },
  methods: {
    scrollToSelector(selector) {
      this.$vuetify.goTo(selector, {
        duration: 300,
        offset: 0,
        easing: "easeInOutCubic"
      });
    },
    async googleSignUp() {
      let result = await this.$store.dispatch("GOOGLE_SIGNUP");
      if (result.error) {
        this.loginError = true;
      } else if (result) {
        this.userData = result.userdata;
        this.innerStep = "update";
        setTimeout(() => {
          this.scrollToSelector("#updateScreen");
        }, 100);
      }
    },
    async facebookSignUp() {
      let result = await this.$store.dispatch("FACEBOOK_SIGNUP");
      if (result.error) {
        this.loginError = true;
      } else if (result) {
        this.userData = result.userdata;
        this.innerStep = "update";
        setTimeout(() => {
          this.scrollToSelector("#updateScreen");
        }, 100);
      }
    }
  }
};
</script>
