<template>
  <div>
    <v-card flat class="nm-container">
      <v-card-title class="d-flex align-center justify-start px-0">
        <v-avatar tile>
          <img src="/Icon/landingpage_packages_icon.svg" alt="News And Updates" />
        </v-avatar>
        <h2>News And Updates</h2>
      </v-card-title>

      <v-row dense>
        <template v-for="(article, index) in news">
          <v-col cols="12" sm="4" :key="index">
            <v-card>
              <div style="height: 200px">
                <cld-image
                  cloudName="thearksg"
                  :publicId="article.featuredImage"
                  :alt="article.name"
                  responsive="fill"
                />
              </div>

              <v-card-title>{{ article.name }}</v-card-title>
              <v-card-subtitle>11 July 2020</v-card-subtitle>
              <v-card-text v-html="article.content"></v-card-text>
              <v-card-actions>
                <v-btn
                  class="the-ark-nav-btn"
                  text
                  color="accent"
                  @click.prevent="$router.push(`/news/${article.url}`)"
                >Read More</v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </template>
      </v-row>
    </v-card>
  </div>
</template>

<script>
export default {
  props: ["news", "windowSize"],
  methods: {
    navigateTo(link) {
      window.open(link, "_blank");
    },
  },
};
</script>

<style></style>
