<template>
  <div class="mt-16">
    <v-card flat class="nm-container">
      <v-card-title class="d-flex align-center">
        <v-avatar tile height="70">
          <img src="/Icon/landingpage_officialpartner_icon.svg" alt="Our Official Partners" />
        </v-avatar>
        <h2>Our Official Partners</h2>
      </v-card-title>
    </v-card>
    <v-img height="600" src="/Images/landingpage_officialpartner.png" alt="Our Official Partners">
      <v-row align="center" justify="center" class="fill-height">
        <v-col class="text-center" cols="12">
          <img src="Logo/firstkick_logo.png" width="200" alt="First Kick Academy Logo" />
          <v-container class="text-center white--text" style="max-width: 650px;">
            Live your soccer dream in First Kick Academy, which is organised for
            both trainee and coach. We conduct sports coaching courses and
            training programs for those who want to know everything about
            soccer. Our motive is to bring out the passion and belief from every
            individual. Besides training and coaching, we also organise the
            football camp for coming youth.
          </v-container>

          <v-btn
            rounded
            color="green darken-2"
            class="white--text the-ark-nav-btn mt-10 mb-10"
            @click.prevent="navigateTo('https://www.fka.sg')"
          >Learn More</v-btn>
        </v-col>
      </v-row>
    </v-img>
  </div>
</template>

<script>
export default {
  methods: {
    navigateTo(link) {
      window.open(link, "_blank");
    },
  },
};
</script>

<style></style>
