<template>
  <v-card flat class="nm-container">
    <v-card-title class="d-flex align-center" v-if="!noTitle">
      <v-avatar tile height="70">
        <img src="/Icon/landingpage_ourvenues_icon.svg" alt="Our Venues" />
      </v-avatar>
      <h2>Our Venues</h2>
    </v-card-title>
    <template v-for="loc in locations">
      <v-card :key="loc.key" class="my-6 mx-auto" max-width="1200px">
        <div class="d-flex flex-wrap">
          <div
            :style="{
              flex: windowSize > 560 ? '40%' : '100%',
              height: windowSize > 560 ? 'auto' : '200px'
            }"
          >
            <cld-image
              cloudName="thearksg"
              :publicId="'website/' + loc.publicId"
              :alt="loc.publicId"
              responsive="fill"
            >
              <cld-transformation fetchFormat="auto"
            /></cld-image>
          </div>
          <div
            :style="{ flex: windowSize > 560 ? '60%' : '100%' }"
            class="pa-8"
            v-show="pitchBySize"
          >
            <h4>{{ loc.name }} Pitch</h4>
            <template v-for="(pitch, k) in pitchBySize[loc.key]">
              <div class="d-flex py-6" :key="'pitch' + k">
                <div class="pr-6 text-center">
                  <v-avatar tile>
                    <img src="/Icon/pitch_green_icon1.svg" alt="Field Icon" />
                  </v-avatar>
                  <div class="pitch-icon-text">
                    {{ Object.keys(pitch).length }} Field{{
                      Object.keys(pitch).length > 1 ? "s" : ""
                    }}
                  </div>
                </div>
                <div class="pr-6 text-center">
                  <v-avatar tile>
                    <img src="/Icon/pitch_green_icon2.svg" alt="Field Icon" />
                  </v-avatar>
                  <div class="pitch-icon-text">Astro Turf</div>
                </div>
                <div class="pr-6 text-center">
                  <v-avatar tile>
                    <img src="/Icon/pitch_green_icon3.svg" alt="Field Icon" />
                  </v-avatar>
                  <div class="pitch-icon-text">{{ k }} Aside</div>
                </div>
              </div>
            </template>

            <div class="d-flex align-center">
              <v-icon color="accent">mdi-map-marker</v-icon>
              <div class="pitch-address-text">{{ loc.address }}</div>
            </div>
            <!-- <div v-show="windowSize && windowSize < 590">
              <div class="pitch-price-text accent--text my-6 ml-1">From SGD 79/hour</div>
              <div class="d-flex justify-center">
                <v-btn
                  rounded
                  outlined
                  color="accent"
                  class="the-ark-nav-btn mx-3"
                  :to="`/info/${loc.name}`"
                >View Details</v-btn>
                <v-btn
                  rounded
                  color="accent"
                  class="white--text the-ark-nav-btn mx-3"
                  @click.prevent="goToBooking(loc.name)"
                >Book Now</v-btn>
              </div>
            </div>-->
            <div
              class="d-flex flex-wrap align-center mt-6 justify-space-between"
            >
              <div
                class="pitch-price-text accent--text"
                :style="{
                  'flex-basis': windowSize < 720 ? '100%' : '25%',
                  'margin-bottom': windowSize < 720 ? '10px' : '0px'
                }"
              >
                From SGD ${{ timeSlotByLocation[loc.key] }}/hour
              </div>

              <v-btn
                rounded
                outlined
                color="accent"
                class="the-ark-nav-btn"
                :to="`/info/${loc.name}`"
                >View Details</v-btn
              >
              <v-btn
                rounded
                color="accent"
                class="white--text the-ark-nav-btn"
                @click.prevent="goToBooking(loc.name)"
                >Book Now</v-btn
              >
            </div>
          </div>
        </div>
      </v-card>
    </template>
  </v-card>
</template>

<script>
import groupBy from "lodash/groupBy";
import filter from "lodash/filter";
export default {
  props: ["locations", "windowSize", "noTitle", "pitches", "timeslots"],
  computed: {
    pitchBySize() {
      let pitchBySize = null;
      if (this.locations) {
        pitchBySize = {};
        this.locations.map(loc => {
          pitchBySize[loc.key] = groupBy(
            filter(this.pitches, { locationKey: loc.key }),
            "size"
          );
        });
      }
      return pitchBySize;
    },
    timeSlotByLocation() {
      let lowestPrice = {};
      if (this.locations) {
        this.locations.map(loc => {
          const locationTimeslots = filter(this.timeslots, {
            locationKey: loc.key
          }).map(l => parseInt(l.rate));
          lowestPrice[loc.key] = Math.min(...locationTimeslots);
        });
      }
      return lowestPrice;
    }
  },
  methods: {
    async goToBooking(location) {
      await this.$store.commit("booking/setBooking", {
        location
      });
      this.$router.push("/booking");
    }
  }
};
</script>
