<template>
  <v-dialog
    v-model="dialog"
    :max-width="windowSize > 600 ? '50%' : '90%'"
  >
    <v-card>
      <v-toolbar
        flat
        color="white"
      >
        <v-btn
          icon
          @click="dialog = false"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-toolbar>
      <v-card-text>
        <v-img :src="config.imgSrc"></v-img>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  props: ["windowSize", "config"],
  data() {
    return {
      dialog: true,
    };
  },
};
</script>
