<template>
  <v-row align="center">
    <v-col cols="9">
      <v-text-field placeholder="Enter Promo Code" v-model="code">
        <template v-slot:append>
          <v-icon style="color: green" v-if="valid">mdi-check-circle</v-icon>
        </template>
      </v-text-field>
      <span style="color: red" v-show="error"
        >You have entered an invalid promo code</span
      >
    </v-col>
    <v-col cols="3">
      <div style="text-align:right">
        <v-btn @click.prevent="verifyCode">Apply</v-btn>
      </div>
    </v-col>
  </v-row>
</template>

<script>
import { mapState } from "vuex";
export default {
  props: ["updatePromoCode", "location", "date"],
  data() {
    return {
      code: "",
      error: false,
      valid: false
    };
  },
  computed: {
    ...mapState({
      promocodes: state => state.promocodes.promocodes
    })
  },
  methods: {
    verifyCode() {
      let found = this.promocodes.find(
        o =>
          o.promocode.toLowerCase() === this.code.toLowerCase() &&
          o.locations.includes(this.location) &&
          this.$moment(this.date).isSameOrBefore(o.validTill) &&
          this.$moment().isAfter(o.startDate) &&
          this.$moment().isBefore(o.validTill)
      );
      if (found) {
        this.updatePromoCode(found);
        this.valid = true;
        this.error = false;
      } else {
        this.updatePromoCode(null);
        this.error = true;
      }
    }
  }
};
</script>
