<template>
  <div>
    <v-img src="https://res.cloudinary.com/thearksg/image/upload/f_auto/v1594089843/website/landingpage_image_slide1.png" height="500">
      <v-row align="center" justify="center" class="px-5 fill-height">
        <v-col class="text-center" cols="12">
          <v-card class="qb-container">
            <div :style="{padding: windowSize < 960 ? '30px 40px': '60px'}" class="text-left">
              <h3 style="font-weight: 500; font-size: 28px">Quick Booking</h3>
              <venue-date-selector :locations="locations" :onComplete="handleSearch" />
            </div>
          </v-card>
        </v-col>
      </v-row>
    </v-img>
  </div>
</template>

<script>
export default {
  props: ["locations", "windowSize"],
  components: {
    VenueDateSelector: () => import("./VenueDateSelector"),
  },
  data() {
    return {
      menu: false,
      date: null,
      items: [],
    };
  },
  computed: {
    computedDateFormattedMomentjs() {
      return this.date ? this.$moment(this.date).format("DD-MMM-YYYY") : "";
    },
  },
  methods: {
    async handleSearch({ location, date }) {
      await this.$store.commit("booking/setBooking", {
        location,
        date,
      });
      this.$router.push("/booking");
    },
  },
};
</script>

<style></style>
