<template>
  <div>
    <v-card style="max-width: 500px" class="text-center pb-12">
      <sign-up />
      <div class="black--text mb-4" style="font-size: 12px;">
        Or sign up with
      </div>
      <div class="px-8" style="margin: 0 auto; max-width: 400px">
        <slot></slot>
      </div>
    </v-card>
  </div>
</template>

<script>
import SignUp from "./SignUp";
export default {
  components: {
    SignUp
  }
};
</script>
