<template>
  <v-layout>
    <v-flex text-xs-center xs12 style="margin: 40px auto; max-width: 400px">
      <Loading v-if="loading" />
      <v-card flat class="px-8">
        <div class="text-center mb-8">
          <h3>Sign Up</h3>
        </div>
        <v-form ref="form" v-model="valid" lazy-validation>
          <v-text-field
            color="black"
            outlined
            name="name"
            label="Name"
            v-model="signUp.name"
            :rules="[v => !!v || 'Name is required']"
          ></v-text-field>
          <v-text-field
            color="black"
            outlined
            name="contact"
            label="Mobile"
            v-model="signUp.contact"
            :rules="[v => !!v || 'Mobile is required']"
          ></v-text-field>
          <v-text-field
            color="black"
            outlined
            name="Username"
            label="Email"
            v-model="signUp.email"
            :rules="[v => !!v || 'Email is required']"
          ></v-text-field>
          <v-text-field
            outlined
            color="black"
            name="Password"
            label="Password"
            type="password"
            v-model="signUp.password"
            :rules="[
              v => !!v || 'Password is required',
              v =>
                (v && v.length >= 8) ||
                'Password must be more than 8 characters'
            ]"
          ></v-text-field>
          <v-text-field
            outlined
            color="black"
            name="Password"
            label="Confirm Password"
            type="password"
            v-model="confirm"
            :rules="[
              v => !!v || 'Confirm Password is required',
              v =>
                (v && v.length >= 8) ||
                'Password must be more than 8 characters',
              v => (v && v === signUp.password) || 'Passwords do not match'
            ]"
          ></v-text-field>
          <!-- <recaptcha /> -->
          <v-alert v-model="error" type="error" outlined>
            {{ errorMessage }}
          </v-alert>
          <div style="font-size: 12px;" class="mb-4 text-left">
            By creating your account, you agree to
            <br />
            <a
              target="_blank"
              href="/terms"
              class="accent--text"
              style="text-decoration: none"
              >Terms and Conditions</a
            >
            and
            <a
              target="_blank"
              href="/pdpa"
              class="accent--text"
              style="text-decoration: none"
              >PDPA</a
            >
          </div>

          <v-btn
            rounded
            block
            color="accent"
            class="white--text the-ark-nav-btn"
            @click="onSubmit"
            aria-label="Sign Up"
            >Sign Up</v-btn
          >
        </v-form>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  data() {
    return {
      valid: "",
      signUp: {
        name: "",
        contact: "",
        email: "",
        password: ""
      },
      confirm: "",
      error: false,
      errorMessage: "",
      loading: false
    };
  },
  components: {
    Loading: () => import("./Loading")
  },
  methods: {
    async onSubmit() {
      let valid = this.$refs.form.validate();
      //   try {
      //     const token = await this.$recaptcha.getResponse();

      if (valid) {
        this.error = false;
        this.loading = true;
        this.$store
          .dispatch("ADD_USER", this.signUp)
          .then(res => {
            this.loading = false;
            if (this.$route.path === "/login") {
              this.$router.push("/user");
            }
          })
          .catch(err => {
            this.loading = false;
            this.error = true;
            this.errorMessage = err.message;
          });
      }
      //   } catch (error) {
      //     console.log("Login error:", error);
      //     this.error = true;
      //     this.errorMessage = "Please complete form.";
      //     this.$store.dispatch("IS_LOADING", { status: false });
      //   }
    }
  }
};
</script>
