<template>
  <v-card flat color="accent" tile>
    <div class="d-flex justify-space-between align-center">
      <div v-show="windowSize > 850">
        <img
          src="/Icon/pattern_footer1.svg"
          style="width: 100%; height: auto;"
          alt="footer pattern 1"
        />
      </div>
      <div class="flex-grow-1">
        <div class="text-center white--text" style="max-width: 300px; margin: 100px auto;">
          <h5>Follow us :</h5>
          <v-row>
            <v-col>
              <img src="/Icon/footer_fb_icon.svg" alt="Facebook Icon" width="100%" />
            </v-col>
            <v-col>
              <img src="/Icon/footer_instagram_icon.svg" alt="Facebook Icon" width="100%" />
            </v-col>
            <v-col>
              <img src="/Icon/footer_phone_icon.svg" alt="Facebook Icon" width="100%" />
            </v-col>
            <v-col>
              <img src="/Icon/footer_whatsapp_icon.svg" alt="Facebook Icon" width="100%" />
            </v-col>
          </v-row>
          <div class="light-green--text ">
            <v-btn
          text
          class="the-ark-nav-btn light-green--text"
          @click.prevent="$router.push('/terms')"
          >Terms and Conditions</v-btn
        >
            Copyright 2020 © The Ark Futsal</div>
        </div>
      </div>
      <div v-show="windowSize > 850">
        <img
          src="/Icon/pattern_footer2.svg"
          style="width: 100%; height: auto;"
          alt="footer pattern 2"
        />
      </div>
    </div>
  </v-card>
</template>

<script>
export default {
  props: ["windowSize"],
};
</script>

<style>
</style>