<template>
  <div class="pa-4 pt-0">
    <Loading
      v-if="loading"
      :message="message"
    ></Loading>
    <div class="text-left">
      <b>Available schedule ({{
          $moment(dateSelected).format("DD MMM YYYY")
        }})</b>
    </div>
    <v-row no-gutters>
      <v-col
        cols="4"
        md="2"
      >
        <div class="time-slot-header">Time</div>
      </v-col>
      <v-col
        cols="3"
        md="2"
      >
        <div class="time-slot-header">Price</div>
      </v-col>
      <v-col
        cols="5"
        md="8"
      >
        <div class="d-flex flex-row">
          <template v-for="(pitch, index) in pitches">
            <div
              class="time-slot-header flex-grow-1"
              :key="index"
            >
              Pitch {{ pitch.name }}
            </div>
          </template>
        </div>
      </v-col>
    </v-row>
    <template v-for="(timeSlot, index) in timeSlots">
      <v-row
        no-gutters
        :key="'normal' + index"
        align="center"
        justify="center"
        class="row-border"
        :class="{ 'row-border-bottom': index === timeSlots.length - 1 }"
        :style="{ background: index % 2 === 0 ? '#fff' : '#f9f9f9' }"
      >
        <v-col
          cols="4"
          md="2"
        >
          <div class="time-slot-button">
            {{ timeSlot.start }} - {{ timeSlot.end }}
            <sup v-if="timeSlot.duration !== 1">*</sup>
          </div>
        </v-col>
        <v-col
          cols="3"
          md="2"
        >
          <div
            class="time-slot-button"
            :style="{
              color: timeSlot.color ? timeSlot.color : '#000'
            }"
          >
            ${{ timeSlot.rate }}
          </div>
        </v-col>
        <v-col
          cols="5"
          md="8"
        >
          <div class="d-flex flex-row justify-center align-center">
            <template v-for="(pitch, ind) in pitches">
              <div
                class="flex-grow-1"
                :key="ind"
              >
                <div
                  class="time-slot-button"
                  v-if="checkBookedSlot(timeSlot, ind)"
                >
                  <v-icon color="red">mdi-close-circle</v-icon>
                </div>
                <div
                  class="time-slot-button"
                  @click.prevent="selectTimeslot(timeSlot, ind)"
                  v-else
                >
                  <v-icon
                    color="green"
                    v-if="checkSlot(timeSlot.start, ind)"
                  >mdi-check-circle</v-icon>
                  <v-icon
                    color="#c9c9c9"
                    v-else
                  >mdi-check-circle</v-icon>
                </div>
              </div>
            </template>
          </div>
        </v-col>
      </v-row>
    </template>
  </div>
</template>

<script>
import find from "lodash/find";
import orderBy from "lodash/orderBy";
export default {
  props: [
    "pitches",
    "dateSelected",
    "timeslotDetails",
    "bookedSlots",
    "updateBooking",
    "holidays",
  ],
  mounted() {
    this.initialiseTimeslots();
    setTimeout(() => {
      this.loading = false;
    }, 2500);
  },
  data() {
    return {
      selectedTimeslots: null,
      timeSlots: [],
      specialTimeSlots: false,
      loading: true,
      message: "Loading Time Slots",
    };
  },
  watch: {
    dateSelected(newValue) {
      this.timeSlots = [];
      this.loading = true;
      this.selectedTimeslots = null;
      this.specialTimeSlots = false;
      this.initialiseTimeslots();
      setTimeout(() => {
        this.loading = false;
      }, 1500);
    },
    timeslotDetails(newValue) {
      this.timeSlots = [];
      this.loading = true;

      this.selectedTimeslots = null;
      this.specialTimeSlots = false;
      this.initialiseTimeslots();
      setTimeout(() => {
        this.loading = false;
      }, 1500);
    },
  },
  methods: {
    initialiseTimeslots() {
      let nextDay = this.$moment(this.dateSelected, "YYYY-MM-DD")
        .add(1, "day")
        .format("YYYY-MM-DD");
      let end = this.tillMidnight
        ? this.$moment(`${nextDay} 00:00`, "YYYY-MM-DD hh:mm")
        : this.$moment(`${this.dateSelected} 23:00`, "YYYY-MM-DD hh:mm");
      let current = this.$moment(
        `${this.dateSelected} 08:00`,
        "YYYY-MM-DD hh:mm"
      );

      if (
        this.$moment()
          .endOf("hour")
          .add(3, "hour")
          .isSame(this.dateSelected, "day")
      ) {
        let newCurrent = this.$moment().endOf("hour").add(3, "hour");
        if (newCurrent.isSameOrAfter(current)) {
          current = newCurrent;
        }
      }

      let isHoliday = this.checkIsHoliday(this.dateSelected);

      while (current.isBefore(end)) {
        let slotDetails = this.checkSlotDetail(
          current,
          this.dateSelected,
          isHoliday
        );
        let addDuration = 1;
        if (slotDetails) {
          if (slotDetails.timePerSlot !== "1") {
            this.specialTimeSlots = true;
            addDuration = slotDetails.timePerSlot;
          }
          let slotEnd = this.$moment(
            `${this.dateSelected} ${slotDetails.endTime}`,
            "YYYY-MM-DD hh:mm"
          );
          if (
            slotEnd.diff(current, "hours", true) %
              parseInt(slotDetails.timePerSlot) !==
            0
          ) {
            addDuration = 1;
          }
          if (
            this.$moment(current)
              .add(parseInt(addDuration), "h")
              .isSameOrBefore(end) === false
          ) {
            addDuration = 1;
          }
          let timeSlot = {
            start: this.$moment(current).format("ha"),
            end: this.$moment(current)
              .add(parseInt(addDuration), "h")
              .format("ha"),
            rate: slotDetails.rate * parseInt(addDuration),
            duration: parseInt(addDuration),
            color: slotDetails.color ? slotDetails.color : null,
            type: slotDetails.type,
          };
          this.timeSlots.push(timeSlot);
        }
        current = current.add(parseInt(addDuration), "hour");
      }
    },
    checkIsHoliday(dateSelected) {
      return (
        this.holidays &&
        this.holidays.find((o) =>
          this.$moment(o.date, "DD-MM-YYYY").isSame(dateSelected, "day")
        ) !== undefined
      );
    },
    checkSlotDetail(st, dateSelected, isHoliday) {
      if (isHoliday) {
        return find(this.timeslotDetails, { type: "Holiday" });
      } else {
        return find(this.timeslotDetails, (o) => {
          if (
            o.days.includes(this.$moment(dateSelected).format("ddd")) &&
            o.type !== "Holiday"
          ) {
            let start = this.$moment(
              `${dateSelected} ${o.startTime}`,
              "YYYY-MM-DD hh:mm"
            );
            let end = this.$moment(
              `${dateSelected} ${o.endTime}`,
              "YYYY-MM-DD hh:mm"
            );
            return st.isSameOrAfter(start) && st.isBefore(end);
          }
          return null;
        });
      }
    },
    checkSlot(start, pitchIndex) {
      return (
        this.selectedTimeslots &&
        this.selectedTimeslots.findIndex((i) => {
          return i.start === start && i.pitch === pitchIndex + 1;
        }) !== -1
      );
    },
    checkBookedSlot(timeslot, pitchIndex, type) {
      let formattedDate = this.$moment(
        this.dateSelected,
        "YYYY-MM-DD"
      ).format();
      let date =
        type === "Next Day"
          ? this.$moment(formattedDate).add(1, "day").format()
          : formattedDate;
      let found = find(this.bookedSlots, (o) => {
        return (
          o.pitch === pitchIndex + 1 &&
          (o.start === timeslot.start || o.end === timeslot.end) &&
          this.$moment(o.date).isSame(date, "day")
        );
      });
      if (found !== undefined) {
        return true;
      }
      return false;
    },
    selectTimeslot(timeslot, pitchIndex, type) {
      const { start } = timeslot;
      const dateSelected =
        type === "Next Day"
          ? this.$moment(this.dateSelected).add(1, "day").format("YYYY-MM-DD")
          : this.dateSelected;
      let newTimeSlots = this.selectedTimeslots
        ? [...this.selectedTimeslots]
        : [];
      let found = newTimeSlots.findIndex((i) => {
        return (
          i.start === start &&
          i.pitch === pitchIndex + 1 &&
          i.date === dateSelected
        );
      });
      if (found !== -1) {
        newTimeSlots.splice(found, 1);
      } else {
        newTimeSlots.push({
          ...timeslot,
          pitch: parseInt(pitchIndex) + 1,
          date: dateSelected,
        });
      }
      this.selectedTimeslots = orderBy(
        newTimeSlots,
        [
          "pitch",
          function (o) {
            let add = o.start.includes("pm") && o.start !== "12pm" ? 12 : 0;
            return o.start.length === 3
              ? parseInt(o.start[0]) + add
              : parseInt(o.start.substr(0, 2)) + add;
          },
        ],
        ["asc", "asc"]
      );
      this.updateBooking(this.selectedTimeslots);
    },
  },
};
</script>

<style>
.time-slot-table {
  border-top: 1px solid;
  background: #fff;
  margin-top: 20px;
}
.time-slot-header {
  text-align: center;
  padding: 10px 3px;
  font-size: 13px;
  background: #0a8900;
  color: #fff;
  font-weight: 600;
}
.time-slot-button {
  color: #000;
  padding: 10px 3px;
  font-size: 14px;
  text-align: center;
}
.ivu-icon {
  color: green;
}
</style>
