<template>
  <v-card flat class="ark-container">
    <v-card-title class="d-flex align-center">
      <v-avatar tile height="70">
        <img src="/Icon/landingpage_upcomingevents_icon.svg" alt="Upcoming Events" />
      </v-avatar>
      <h2>
        Parties and
        Corporate Events
      </h2>
    </v-card-title>
    <v-row>
      <v-col cols="12" md="6">
        <v-card>
          <v-row>
            <v-col cols="6">
              <img src="/Images/poster2.png" alt="Birthday Parties" style="width: 100%" />
            </v-col>
            <v-col cols="6">
              <div class="d-flex flex-column justify-space-between">
                <h4>Birthday Parties</h4>
                <v-btn
                  rounded
                  color="green darken-2"
                  class="white--text the-ark-nav-btn mx-3"
                >View Details</v-btn>
              </div>
            </v-col>
          </v-row>
          <div class="d-flex"></div>
        </v-card>
      </v-col>
      <v-col cols="12" md="6">
        <v-card>
          <div class="d-flex">
            <img src="/Images/poster1.png" alt="Corporate Events" />
            <div class="pa-5">
              <h4>Corporate Events</h4>
              <v-btn rounded color="green darken-2" class="white--text the-ark-nav-btn">View Details</v-btn>
            </div>
          </div>
        </v-card>
      </v-col>
    </v-row>
  </v-card>
</template>

<script>
export default {};
</script>
