<template>
  <v-form ref="form">
    <div class="pa-4">
      <v-row>
        <v-col cols="12" sm="12" md="5">
          <v-select
            color="black"
            :items="locations"
            label="Venue"
            outlined
            item-text="name"
            v-model="location"
            :rules="[v => !!v || 'Please select Venue']"
          ></v-select>
        </v-col>
        <v-col cols="12" sm="12" md="5">
          <v-menu
            ref="menu"
            v-model="menu"
            :close-on-content-click="false"
            :return-value.sync="date"
            transition="scale-transition"
            offset-y
            max-width="290px"
            min-width="290px"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-text-field
                outlined
                color="black"
                :value="computedDateFormattedMomentjs"
                label="Date"
                append-inner-icon="event"
                readonly
                :rules="[v => !!v || 'Please select date']"
                v-bind="attrs"
                v-on="on"
              ></v-text-field>
            </template>
            <v-date-picker
              v-model="date"
              type="date"
              no-title
              scrollable
              :min="$moment().format()"
              :max="
                $moment()
                  .add(1, 'months')
                  .format()
              "
              @input="$refs.menu.save(date)"
            ></v-date-picker>
          </v-menu>
        </v-col>
        <v-col cols="12" sm="12" md="2">
          <v-btn
            x-large
            rounded
            block
            color="green darken-3"
            class="white--text"
            style=" text-transform: capitalize;"
            @click.prevent="handleQuickBook"
            >Search</v-btn
          >
        </v-col>
      </v-row>
    </div>
  </v-form>
</template>

<script>
export default {
  props: ["locations", "onComplete", "data"],
  mounted() {
    if (this.data) {
      this.location = this.data.location ? this.data.location : null;
      this.date = this.data.date ? this.data.date : null;
    }
  },
  data() {
    return {
      menu: false,
      date: null,
      location: null,
      items: []
    };
  },
  computed: {
    computedDateFormattedMomentjs() {
      return this.date ? this.$moment(this.date).format("DD-MMM-YYYY") : "";
    }
  },
  methods: {
    async handleQuickBook() {
      const valid = await this.$refs.form.validate();
      if (valid) {
        this.onComplete({ date: this.date, location: this.location });
      }
    }
  }
};
</script>
