<template>
  <div>
    <v-img src="/Images/title_contact.png" height="220">
      <v-row align="center" justify="center" class="fill-height">
        <v-col class="text-center white--text" cols="12">
          <h1>Contact Us</h1>
        </v-col>
      </v-row>
    </v-img>

    <v-container>
      <div style="font-size: 26px; font-weight: 600" class="mx-4 mt-8">Our Pitch Location</div>
      <template v-for="loc in locations">
        <div :key="loc.name" class="ma-4">
          <h4>{{ loc.name }}</h4>
          <div class="d-flex align-center">
            <v-icon color="accent">mdi-map-marker</v-icon>
            <div class="ml-4">{{ loc.address }}</div>
          </div>
        </div>
      </template>
      <div style="font-size: 26px; font-weight: 600" class="mx-4 mt-13">Get In Touch</div>
      <ContactUsForm />
    </v-container>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  async fetch({ store, params }) {
    await store.dispatch("locations/GET_LOCATIONS");
  },
  components: {
    ContactUsForm: () => import("../../components/ContactUsForm"),
  },
  computed: {
    ...mapState({
      locations: (state) => state.locations.locations,
    }),
  },
};
</script>
