<template>
  <div>
    <v-img src="/Images/title_contact.png" height="220">
      <v-row align="center" justify="center" class="fill-height">
        <v-col class="text-center white--text" cols="12">
          <h1>Contact Us</h1>
        </v-col>
      </v-row>
    </v-img>
    <div class="text-center pa-8 ma-3" style="border: 1px solid grey ; border-radius : 5px">
      <h4>Thank you for contacting us. Our staff will get in touch with you within the next working day.</h4>
    </div>
    <v-card>
      <v-card-title></v-card-title>
    </v-card>
  </div>
</template>
