<template>
  <div>
    <v-img src="/Images/title_events.png" height="220">
      <v-row align="center" justify="center" class="fill-height">
        <v-col class="text-center white--text" cols="12">
          <h1>Events</h1>
        </v-col>
      </v-row>
    </v-img>
    <v-container></v-container>
  </div>
</template>

<script>
export default {};
</script>

<style></style>
