<template>
  <div class="mb-16">
    <Loading
      v-if="loading"
      :message="message"
    ></Loading>

    <!-- STEP 1 -->
    <div v-show="step === 1">
      <v-img
        src="/Images/title_booking.png"
        height="220"
      >
        <v-row
          align="center"
          justify="center"
          class="fill-height"
        >
          <v-col
            class="text-center white--text"
            cols="12"
          >
            <h1>Credit Top Up</h1>
          </v-col>
        </v-row>
      </v-img>
      <div class="nm-container">
        <v-card
          flat
          class="px-8"
        >
          <v-row
            align="center"
            justify="center"
          >
            <v-col
              class="text-left"
              cols="12"
            >
              <h5 class="text-left mt-5">CREDIT TYPE</h5>
              <v-radio-group
                v-model="creditType"
                class="mt-2"
              >
                <div
                  :style="{
                    borderColor: creditType === 'Top Up' ? '#000000' : '#C4C4C4'
                  }"
                  style="border:1px solid; padding: 10px 8px; border-radius: 3px;"
                  class="mb-2"
                  @click.prevent="creditType = 'Top Up'"
                  v-if="creditsLeft !== 0"
                >
                  <v-row
                    justify="center"
                    align="center"
                  >
                    <v-col cols="2">
                      <v-radio
                        value="Top Up"
                        color="accent"
                        class="px-5"
                      ></v-radio>
                    </v-col>
                    <v-col cols="10">
                      <div style="font-weight: 600; font-size: 18px; line-height: 22px">
                        Top Up (Min $100)
                        <br />
                        <span style="font-size: 14px; font-weight: 500">Credits to be used in 1 month</span>
                      </div>
                    </v-col>
                  </v-row>
                </div>
                <div
                  :style="{
                    borderColor:
                      creditType === 'Buy Package' ? '#000000' : '#C4C4C4'
                  }"
                  style="border:1px solid; padding: 10px 8px; border-radius: 3px;"
                  class="mb-2"
                  @click.prevent="creditType = 'Buy Package'"
                >
                  <v-row
                    justify="center"
                    align="center"
                  >
                    <v-col cols="2">
                      <v-radio
                        value="Buy Package"
                        color="accent"
                        class="px-5"
                      ></v-radio>
                    </v-col>
                    <v-col cols="10">
                      <div style="font-weight: 600; font-size: 18px; line-height: 22px">
                        Buy Package
                        <br />
                        <span style="font-size: 14px; font-weight: 500">Credits valid for 6 months</span>
                      </div>
                    </v-col>
                  </v-row>
                </div>
              </v-radio-group>
            </v-col>
          </v-row>
        </v-card>
        <div id="amountSelection">&nbsp;</div>
        <v-card
          flat
          class="px-8"
          v-if="creditType === 'Buy Package'"
        >
          <v-row
            align="center"
            justify="center"
          >
            <v-col
              class="text-left"
              cols="12"
            >
              <h5 class="text-left mt-5">SELECT PACKAGE</h5>
              <v-radio-group
                v-model="packageType"
                class="mt-2"
              >
                <template v-for="(p, index) in packages">
                  <div
                    :key="p.name"
                    :style="{
                      borderColor:
                        packageType === p.name ? '#000000' : '#C4C4C4'
                    }"
                    style="border:1px solid; padding: 10px 8px; border-radius: 3px;"
                    class="mb-2"
                    @click.prevent="selectPackageType(index)"
                  >
                    <v-row
                      justify="center"
                      align="center"
                    >
                      <v-col cols="2">
                        <v-radio
                          :value="index"
                          color="accent"
                          class="px-5"
                        ></v-radio>
                      </v-col>
                      <v-col cols="10">
                        <div
                          style="font-weight: 600; font-size: 18px; line-height: 22px"
                          class="pr-5"
                        >
                          ${{ p.amount }} for ${{ p.value }}
                          <br />
                          <span style="font-size: 14px; font-weight: 500">Package must be utilised
                            {{ p.expiryPeriod }} months from date of
                            purchase</span>
                        </div>
                      </v-col>
                    </v-row>
                  </div>
                </template>
              </v-radio-group>
            </v-col>
          </v-row>
          <v-btn
            class="accent white--text the-ark-nav-btn"
            block
            rounded
            :disabled="packageType === null"
            @click.prevent="proceedToPayment"
          >Proceed to Payment</v-btn>
        </v-card>
        <v-card
          flat
          class="px-8"
          v-if="creditType === 'Top Up'"
        >
          <v-row
            align="center"
            justify="center"
          >
            <v-col
              class="text-left"
              cols="12"
            >
              <h5 class="text-left mt-5">AMOUNT TOP UP</h5>
              <v-text-field
                class="mt-2"
                color="black"
                outlined
                name="Amount"
                label="Amount"
                v-model="topUpAmount"
                :rules="[v => !!v || 'Top Up Amount is required']"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-btn
            class="accent white--text the-ark-nav-btn"
            block
            rounded
            :disabled="topUpAmount < 100"
            @click.prevent="proceedToPayment"
          >Proceed to Payment</v-btn>
        </v-card>
      </div>
    </div>
    <!-- STEP 2 -->
    <div
      v-if="step === 2"
      id="loginScreen"
    >
      <login-sign-up-form></login-sign-up-form>
    </div>
    <!-- End of STEP 2 -->

    <!-- STEP 3 -->
    <div v-show="step === 3">
      <v-img
        src="/Images/title_booking.png"
        height="220"
      >
        <v-row
          align="center"
          justify="center"
          class="fill-height"
        >
          <v-col
            class="text-center white--text"
            cols="12"
          >
            <h1>Top Up Payment</h1>
          </v-col>
        </v-row>
      </v-img>

      <div
        class="nm-container"
        id="paymentScreen"
      >
        <v-card
          flat
          class="px-8"
        >
          <v-row
            align="center"
            justify="center"
          >
            <v-col
              class="text-left"
              cols="12"
            >
              <h5 class="mb-2">TOP UP INCLUDED</h5>
              <template v-if="creditType === 'Top Up'">
                <v-list>
                  <v-list-item>
                    <v-list-item-avatar>
                      <img
                        src="/Icon/ball_icon.svg"
                        style="width: 70%"
                      />
                    </v-list-item-avatar>
                    <v-list-item-content>${{ topUpAmount }} Credits</v-list-item-content>
                  </v-list-item>
                  <v-list-item>
                    <v-list-item-avatar>
                      <img
                        src="/Icon/ball_icon.svg"
                        style="width: 70%"
                      />
                    </v-list-item-avatar>
                    <v-list-item-content>Free Upgrade to Premium Membership</v-list-item-content>
                  </v-list-item>
                </v-list>
              </template>
              <template v-else-if="creditType === 'Buy Package'">
                <v-list>
                  <v-list-item>
                    <v-list-item-avatar>
                      <img
                        src="/Icon/ball_icon.svg"
                        style="width: 70%"
                      />
                    </v-list-item-avatar>
                    <v-list-item-content>${{
                        selectedPackage ? selectedPackage.value : ""
                      }}
                      Credits</v-list-item-content>
                  </v-list-item>
                  <v-list-item>
                    <v-list-item-avatar>
                      <img
                        src="/Icon/ball_icon.svg"
                        style="width: 70%"
                      />
                    </v-list-item-avatar>
                    <v-list-item-content>Free Upgrade to Premium Membership</v-list-item-content>
                  </v-list-item>
                </v-list>
              </template>
            </v-col>
            <v-col
              class="text-center"
              cols="12"
            >
              <h5 class="text-left mt-5">PAYMENT METHOD</h5>
              <v-radio-group
                v-model="paymentMethod"
                class="mt-2"
              >
                <div
                  style="border:1px solid black; padding: 15px 8px"
                  class="mb-2"
                >
                  <v-row
                    align="center"
                    justify="center"
                  >
                    <v-col cols="6">
                      <v-radio
                        value="PayNow"
                        color="accent"
                      >
                        <template v-slot:label>
                          <div style="width: 80px">
                            <img
                              src="/Images/PayNow.png"
                              alt="PayNow"
                              style="width: 100%"
                            />
                          </div>
                        </template>
                      </v-radio>
                    </v-col>
                    <v-col cols="6">
                      <div
                        style="font-weight: 600; color: black"
                        class="text-right"
                      >
                        ${{ totalPayable.toFixed(2) }}
                      </div>
                    </v-col>
                  </v-row>
                </div>
                <template v-for="(card, index) in cards">
                  <div
                    style="border:1px solid black; padding: 15px 8px"
                    class="mb-2"
                    :key="index"
                  >
                    <v-row>
                      <v-col cols="8">
                        <v-radio
                          :value="index"
                          color="accent"
                        >
                          <template v-slot:label>
                            <div style="font-weight: 600; color: black">
                              <!-- {{ card.brand }} ending in {{ card.last4 }} -->
                              {{ card.brand }} ending in {{ card.last4 }} ({{transactionFeeRate}}% fee)
                            </div>
                          </template>
                        </v-radio>
                      </v-col>
                      <v-col cols="4">
                        <div
                          style="font-weight: 600; color: black"
                          class="text-right"
                        >

                          ${{ totalPayable.toFixed(2) }}<br> + ${{transactionFee.toFixed(2)}}
                        </div>
                      </v-col>
                    </v-row>
                  </div>
                </template>

                <div
                  style="border:1px solid black; padding: 15px 8px"
                  class="mb-2"
                >
                  <v-row>
                    <v-col cols="6">
                      <v-radio
                        value="New Credit Card"
                        color="accent"
                      >
                        <template v-slot:label>
                          <div style="font-weight: 600; color: black">
                            <!-- Credit Card -->
                            Credit Card ({{transactionFeeRate}}% fee)
                          </div>
                        </template>
                      </v-radio>
                    </v-col>
                    <v-col cols="6">
                      <div
                        style="font-weight: 600; color: black"
                        class="text-right"
                      >
                        <!-- ${{ totalPayable.toFixed(2) }} -->
                        ${{ totalPayable.toFixed(2) }} <br> + ${{transactionFee.toFixed(2)}}
                      </div>
                    </v-col>
                  </v-row>
                </div>
              </v-radio-group>
              <div v-show="paymentMethod === 'New Credit Card'">
                <v-row>
                  <v-col cols="12">
                    <div
                      id="card-number"
                      class="field"
                    >
                      <!-- A Stripe Element will be inserted here. -->
                    </div>
                  </v-col>
                  <v-col cols="6">
                    <div
                      id="card-expiry"
                      class="field"
                    ></div>
                  </v-col>
                  <v-col cols="6">
                    <div
                      id="card-cvc"
                      class="field"
                    ></div>
                  </v-col>
                </v-row>

                <!-- Used to display Element errors. -->
                <div
                  id="card-errors"
                  role="alert"
                  class="red--text"
                ></div>
              </div>
              <div style="max-width: 310px; margin: 0 auto">
                <v-checkbox
                  v-model="acceptTerms"
                  color="accent"
                >
                  <template v-slot:label>
                    <div>
                      I accept the
                      <v-tooltip bottom>
                        <template v-slot:activator="{ on }">
                          <a
                            target="_blank"
                            href="/terms"
                            @click.stop
                            v-on="on"
                            style="text-decoration: none"
                            class="accent--text"
                          >terms and conditions</a>
                        </template>
                        Opens in new window
                      </v-tooltip>
                    </div>
                  </template>
                </v-checkbox>
              </div>
              <v-alert
                v-if="error"
                dense
                outlined
                type="error"
              >{{
                errorMessage
              }}</v-alert>
              <v-btn
                block
                :key="buttonKey"
                rounded
                class="accent white--text the-ark-nav-btn"
                @click.once="submitPayment"
              >Confirm Payment</v-btn>
              <v-btn
                block
                rounded
                class="secondary the-ark-nav-btn mt-3"
                @click.prevent="goBackToSelectionScreen"
              >Back to Selection Screen</v-btn>
            </v-col>
          </v-row>
        </v-card>
      </div>
    </div>
    <!-- End of Step 3 -->
    <!-- Step 4  QR Payment-->
    <div v-if="step === 4">
      <v-img
        src="/Images/title_booking.png"
        height="220"
      >
        <v-row
          align="center"
          justify="center"
          class="fill-height"
        >
          <v-col
            class="text-center white--text"
            cols="12"
          >
            <h1>PayNow Scan & Pay</h1>
          </v-col>
        </v-row>
      </v-img>
      <div
        class="nm-container"
        id="qrPaymentScreen"
      >
        <v-card
          flat
          class="px-8 mx-auto"
          max-width="600"
        >
          <v-row class="mt-3">
            <v-col cols="6">
              Total Payment
            </v-col>
            <v-col
              cols="6"
              class="text-right"
            >
              <b>${{ totalPayable }}</b>
            </v-col>
            <v-col cols="12">
              <v-divider></v-divider>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="6">
              Payment Within
            </v-col>
            <v-col
              class="text-right"
              cols="6"
            >
              <b>10 minutes</b><br />
              <span>Due on {{ $moment().add(10, 'minutes').format("DD MMM YYYY HH:mm") }}</span>
            </v-col>
            <v-col cols="12">
              <v-divider></v-divider>
            </v-col>
          </v-row>
          <v-row
            align="center"
            justify="center"
          >
            <v-col
              class="text-center"
              cols="12"
            >
              <VueQR
                width="300"
                logoSrc="/Images/PayNow.png"
                :text="qrCode"
                colorDark="#7C1A78"
                :logoScale="0.23"
                :logoMargin="1.5"
                :logoCornerRadius="0.1"
              />
            </v-col>
          </v-row>

          <v-expansion-panels
            v-model="panels"
            class="mb-8"
          >
            <v-expansion-panel>
              <v-expansion-panel-header>
                Please follow these instructions
              </v-expansion-panel-header>
              <v-expansion-panel-content>
                <v-card>
                  <v-card-text>
                    <v-row>
                      <v-col cols="2">
                        <v-avatar color="teal">
                          <span class="white--text headline">1</span>
                        </v-avatar>
                      </v-col>
                      <v-col cols="10">
                        Save or screenshot the QR code to make payments using
                        PayNow supporting apps.
                      </v-col>
                    </v-row>
                    <v-row>
                      <v-col cols="2">
                        <v-avatar color="teal">
                          <span class="white--text headline">2</span>
                        </v-avatar>
                      </v-col>
                      <v-col cols="10">
                        Make sure the recipient is <b>ARK SPORTS MANAGEMENT PTE LTD</b>
                      </v-col>
                    </v-row>
                    <v-row>
                      <v-col cols="2">
                        <v-avatar color="teal">
                          <span class="white--text headline">3</span>
                        </v-avatar>
                      </v-col>
                      <v-col cols="10">
                        If you have successfully made the payment but the page is not automatically redirected, please contact us. Thank you.</b>
                      </v-col>
                    </v-row>
                  </v-card-text>
                </v-card>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>
        </v-card>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import { generatePurchaseReceipt } from "~/helpers/generatePurchaseReceipt";
import PaynowQR from "paynowqr";

export default {
  async fetch({ store }) {
    await store.dispatch("packages/GET_PACKAGES");
  },
  async mounted() {
    var elementStyles = {
      base: {
        color: "#000",
        fontWeight: 600,
        fontSize: "16px",
        fontSmoothing: "antialiased",

        ":focus": {
          color: "#424770",
        },

        "::placeholder": {
          color: "#9BACC8",
        },

        ":focus::placeholder": {
          color: "#9BACC8",
        },
      },
      invalid: {
        color: "#000",
        ":focus": {
          color: "#FA755A",
        },
        "::placeholder": {
          color: "#eb1c26",
        },
      },
    };

    var elementClasses = {
      focus: "focus",
      empty: "empty",
      invalid: "invalid",
    };
    if (this.packageSelected !== null) {
      this.creditType = "Buy Package";
      this.packageType = this.packageSelected;
      this.proceedToPayment();
    }

    if (this.stripe === null) {
      this.stripe = this.$stripe.import();
      const elements = this.stripe.elements();
      const cardNumber = elements.create("cardNumber", {
        style: elementStyles,
        classes: elementClasses,
      });
      cardNumber.mount("#card-number");

      this.cardElement = cardNumber;
      const cardExpiry = elements.create("cardExpiry", {
        style: elementStyles,
        classes: elementClasses,
      });
      cardExpiry.mount("#card-expiry");

      const cardCvc = elements.create("cardCvc", {
        style: elementStyles,
        classes: elementClasses,
      });
      cardCvc.mount("#card-cvc");
    }
    if (this.user && this.user.sid) {
      await this.retrieveCustomer(this.user.sid);
    }
  },
  data() {
    return {
      step: 1,
      loading: false,
      message: "",
      creditType: null,
      packageType: null,
      topUpAmount: null,
      error: false,
      errorMessage: "",
      buttonKey: 1,
      acceptTerms: false,
      paymentMethod: "PayNow",
      stripe: null,
      cardElement: null,
      customer: null,
      panels: 0,
      QRCreditDetails: null,
      transactionFeeRate: 5,
      //stripeServerUrl: "https://the-ark-test-node-289505.et.r.appspot.com"
      stripeServerUrl: "https://the-ark-node.el.r.appspot.com",
    };
  },
  computed: {
    ...mapState({
      user: (state) => state.user,
      packages: (state) => state.packages.packages,
      creditsLeft: (state) => state.credits.creditsLeft,
      packageSelected: (state) => state.booking.package,
    }),
    totalPayable() {
      let total = 0;
      if (this.creditType === "Top Up") {
        total = parseFloat(this.topUpAmount);
      } else if (
        this.creditType === "Buy Package" &&
        this.packageType !== null
      ) {
        total = parseFloat(this.packages[this.packageType].amount);
      }
      return total;
    },
    transactionFee() {
      let total = 0;
      if (this.totalPayable !== 0) {
        total = (this.totalPayable * this.transactionFeeRate) / 100;
      }
      return total;
    },
    creditCardTotalPayable() {
      let total = 0;
      if (this.totalPayable !== 0) {
        total = this.totalPayable + this.transactionFee;
      }
      return total;
    },
    selectedPackage() {
      if (this.creditType === "Buy Package" && this.packageType !== null) {
        return this.packages[this.packageType];
      }
      return null;
    },
    cards() {
      if (this.customer && this.customer.sources) {
        return this.customer.sources.data;
      }
      return [];
    },
    qrCode() {
      let qrcode = new PaynowQR({
        uen: "200714008NWEB",
        amount: this.totalPayable,
        editable: true,
        expiry: this.$moment().add(10, "minutes").format("YYYYMMDDHHmmss"),
        refNumber: this.referenceCode,
        company: "ARK SPORTS MANAGEMENT PTE LTD",
      });

      let QRString = qrcode.output();
      return QRString ? QRString : null;
    },
    referenceCode() {
      let refCode = "ARK";
      if (this.QRCreditDetails) {
        refCode =
          this.QRCreditDetails.creditPackageKey.replace(/_/g, "@") + " Credits";
      }
      return refCode;
    },
  },
  watch: {
    creditType(newValue) {
      if (newValue) {
        this.scrollToSelector("#amountSelection");
      }
    },
    async user(newValue) {
      if (newValue) {
        if (this.stripe === null) {
          await this.initialiseStripe();
        }
        if (newValue && newValue.sid) {
          await this.retrieveCustomer(this.user.sid);
        }
        this.step = 3;
      } else {
        this.step = 1;
      }
    },
  },

  components: {
    LoginSignUpForm: () => import("../../components/LoginSignUpForm.vue"),
    Loading: () => import("../../components/Loading"),
    VueQR: () => import("vue-qr"),
  },
  methods: {
    retrieveCustomer(sid) {
      return new Promise((resolve, reject) => {
        this.loading = true;
        this.message = "Retrieving Customer Details";
        this.$axios
          .post(`${this.stripeServerUrl}/stripe/retrieve`, {
            id: sid,
          })
          .then((res) => {
            this.customer = res.data;
            this.loading = false;
            this.message = "";
            resolve();
          })
          .catch((err) => {
            this.loading = false;
            this.message = "";
            resolve();
          });
      });
    },

    selectPackageType(index) {
      this.packageType = index;
    },
    proceedToPayment() {
      if (this.user) {
        this.step = 3;
        setTimeout(() => {
          this.scrollToSelector("#paymentScreen");
        }, 100);
      } else {
        this.step = 2;
      }
    },
    scrollToSelector(selector) {
      this.$vuetify.goTo(selector, {
        duration: 300,
        offset: 0,
        easing: "easeInOutCubic",
      });
    },
    resetBooking() {
      const selectedDate = this.date;
      this.selectedTimeslots = null;
      this.groupedTimeslots = {};
      this.sheet = false;
      this.date = null;
      this.date = selectedDate;
      this.error = false;
      this.errorMessage = "";
    },
    goBackToSelectionScreen() {
      this.step = 1;
    },
    async submitPayment() {
      let selectedPackage =
        this.creditType === "Top Up"
          ? {
              amount: this.topUpAmount,
              expiryPeriod: "3",
              unit: "month",
              type: "Regular",
              name: "Top Up",
              key: "topup",
              value: this.topUpAmount.toString(),
            }
          : this.selectedPackage;
      const stripeDescription = `${
        this.user.displayName
      } / Credit Package / ${this.$moment().format("YYYY-MM-DD")} / ${
        selectedPackage.name
      } `;
      if (!this.acceptTerms) {
        this.errorMessage = "Please accept Terms and Conditions to proceed";
        this.error = true;
        this.buttonKey++;
      } else {
        this.error = false;
        this.errorMessage = "";
        this.errorChecking = false;
        if (this.paymentMethod === "PayNow") {
          this.loading = true;
          this.message = "Processing Purchase";
          const { expiryPeriod, unit, value, amount } = selectedPackage;
          let expiryDate = this.$moment().add(expiryPeriod, unit).format();
          let creditPackageData = {
            submittedDate: this.$moment().format(),
            creditPackage: selectedPackage,
            paymentMethod: "PayNow",
            paymentStatus: "Pending",
            name: this.user.name ? this.user.name : null,
            contact: this.user.contact
              ? this.user.contact
              : this.contact
              ? this.contact
              : "",
            email: this.user.email,
            userKey: this.user.uid,
            expiryDate,
            value,
            amount,
          };
          let creditPackageKey = await this.$store.dispatch(
            "credits/ADD_CREDIT_PACKAGE",
            {
              creditPackageData,
            }
          );
          this.QRCreditDetails = {
            ...creditPackageData,
            creditPackageKey,
          };
          this.$store.dispatch(
            "payment/UPDATE_CREDIT_STATUS",
            creditPackageKey
          );
          this.$store.subscribe((mutation, state) => {
            if (
              mutation.type === "payment/updatePayment" &&
              state.payment.paid === "Paid"
            ) {
              this.loading = true;
              this.timer = setTimeout(() => {
                this.loading = false;
                this.timer = void 0;
                this.$router.push("/credits/thankyou");
              }, 2000);
            }
          });
          this.step = 4;
          this.loading = false;
        } else if (this.paymentMethod === "New Credit Card") {
          const { token, error } = await this.stripe.createToken(
            this.cardElement
          );
          if (error) {
            // Inform the customer that there was an error.
            const errorElement = document.getElementById("card-errors");
            errorElement.textContent = error.message;
          } else {
            const errorElement = document.getElementById("card-errors");
            errorElement.textContent = "";
            this.loading = true;
            this.message = "Processing Payment";

            this.$axios
              .post(`${this.stripeServerUrl}/stripe/create`, {
                email: this.user.email,
                source: token.id,
              })
              .then((res) => {
                this.$store
                  .dispatch("UPDATE_USER", {
                    key: this.user.uid,
                    sid: res.data.id,
                  })
                  .then((r) => {
                    this.$axios
                      .post(`${this.stripeServerUrl}/stripe/charge`, {
                        amount: parseInt(
                          (this.creditCardTotalPayable * 100).toFixed()
                        ),
                        currency: "sgd",
                        description: stripeDescription,
                        customer: res.data.id,
                        idempotencyKey: stripeDescription + this.user.email,
                      })
                      .then(async (cRes) => {
                        if (cRes.data.status === "succeeded") {
                          const { expiryPeriod, unit, value, amount } =
                            selectedPackage;
                          let expiryDate = this.$moment()
                            .add(expiryPeriod, unit)
                            .format();
                          let creditPackageData = {
                            submittedDate: this.$moment().format(),
                            creditPackage: selectedPackage,
                            paymentMethod: "Card",
                            paymentStatus: "Paid",
                            paymentDetails: cRes.data,
                            name: this.user.name ? this.user.name : "",
                            contact: this.user.contact,
                            email: this.user.email,
                            userKey: this.user.uid,
                            expiryDate,
                            value,
                            amount,
                            total: this.creditCardTotalPayable,
                            transactionFee: this.transactionFee.toFixed(2),
                          };
                          let creditPackageKey = await this.$store.dispatch(
                            "credits/ADD_CREDIT_PACKAGE",
                            {
                              creditPackageData,
                            }
                          );
                          let mailData = {
                            method: "post",
                            url: `${this.stripeServerUrl}/email/send`,
                            data: {
                              to: this.user.email,
                              subject: "The ARK Futsal Credits Purchase",
                              text: "The ARK Futsal Credits Purchase",
                              html: generatePurchaseReceipt(creditPackageData),
                              bcc: [
                                "dawnlim@theark.sg",
                                "contact@theark.sg",
                                "ray@marsbaa.com",
                              ],
                            },
                          };
                          await this.$axios(mailData);
                          this.loading = false;
                          this.$router.push("/credits/thankyou");
                        }
                      })
                      .catch((error) => {
                        console.log(error);
                        this.errorMessage =
                          "We are unable to process the payment currently. Please try again or contact us if you face similar issue again. Thank you for your understanding.";
                        this.error = true;
                        this.loading = false;
                      });
                  });
              })
              .catch((error) => {
                this.errorMessage =
                  "We are unable to process the payment currently. Please try again or contact us if you face similar issue again. Thank you for your understanding.";
                this.error = true;
                this.loading = false;
              });
          }
        } else {
          this.loading = true;
          this.message = "Processing Payment";
          const card = this.cards[this.paymentMethod];
          this.$axios
            .post(`${this.stripeServerUrl}/stripe/charge`, {
              amount: parseInt((this.creditCardTotalPayable * 100).toFixed()),
              currency: "sgd",
              source: card.id,
              description: stripeDescription,
              customer: this.customer.id,
              idempotencyKey: stripeDescription + this.user.email,
            })
            .then(async (cRes) => {
              if (cRes.data.status === "succeeded") {
                const { expiryPeriod, unit, value, amount } = selectedPackage;
                let expiryDate = this.$moment()
                  .add(expiryPeriod, unit)
                  .format();
                let creditPackageData = {
                  submittedDate: this.$moment().format(),
                  creditPackage: selectedPackage,
                  paymentMethod: "Card",
                  paymentDetails: cRes.data,
                  name: this.user.name ? this.user.name : "",
                  contact: this.user.contact,
                  email: this.user.email,
                  userKey: this.user.uid,
                  expiryDate,
                  value,
                  amount,
                  total: this.creditCardTotalPayable,
                  transactionFee: this.transactionFee.toFixed(2),
                };
                let creditPackageKey = await this.$store.dispatch(
                  "credits/ADD_CREDIT_PACKAGE",
                  {
                    creditPackageData,
                  }
                );
                let mailData = {
                  method: "post",
                  url: `${this.stripeServerUrl}/email/send`,
                  data: {
                    to: this.user.email,
                    subject: "The ARK Futsal Credits Purchase",
                    text: "The ARK Futsal Credits Purchase",
                    html: generatePurchaseReceipt(creditPackageData),
                    bcc: [
                      "dawnlim@theark.sg",
                      "contact@theark.sg",
                      "ray@marsbaa.com",
                    ],
                  },
                };
                await this.$axios(mailData);
                this.loading = false;
                this.$router.push("/credits/thankyou");
              }
            })
            .catch((error) => {
              console.log(error);
              this.errorMessage =
                "We are unable to process the payment currently. Please try again or contact us if you face similar issue again. Thank you for your understanding.";
              this.error = true;
              this.loading = false;
            });
        }
      }
    },
  },
};
</script>
<style scoped>
.field {
  padding: 10px 20px 11px;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 5px;
  width: 100%;
  color: black;
}
</style>
