<template>
  <div>
    <v-img src="/Images/title_booking.png" height="220">
      <v-row align="center" justify="center" class="fill-height">
        <v-col class="text-center white--text" cols="12">
          <h1>Credit Purchase</h1>
        </v-col>
      </v-row>
    </v-img>
    <div class="text-center pa-8 ma-3" style="border: 1px solid grey ; border-radius : 5px">
      <h4>Thank you for your purchase of credits.</h4>
      <div class="text-center mt-10">
        <v-btn color="accent" @click.native="$router.push('/booking')">Start Booking Now</v-btn>
      </div>
    </div>
    <v-card>
      <v-card-title></v-card-title>
    </v-card>
  </div>
</template>
