// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
$body-font-family: "Montserrat";

.the-ark-nav-btn {
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 600;
}
a {
  color: #0a8a44 !important;
}
h2 {
  font-size: 50px;
  font-weight: 600;
  margin-left: 10px;
}

h5 {
  font-family: Montserrat;
  font-size: 22px;
}

h4 {
  font-size: 20px;
  font-weight: 600;
}

.pitch-icon-text {
  margin-top: 10px;
  font-size: 15px;
}

.pitch-address-text {
  margin-left: 10px;
  font-size: 12px;
}

.pitch-price-text {
  font-size: 14px;
  font-weight: 500;
}

@media screen and (max-width: 700px) {
  h2 {
    font-size: 24px;
    font-weight: 600;
  }
}

.ark-container {
  margin: 20px auto 60px auto;
  max-width: 1144px;
}

.qb-container {
  margin: 20px auto;
  max-width: 1144px;
}

.nm-container {
  margin: 0px auto;
  max-width: 1144px;
}

.row-border {
  border-left: 1px solid #ebebeb;
  border-right: 1px solid #ebebeb;
}

.row-border-bottom {
  border-bottom: 1px solid #ebebeb;
}

.login-background {
  background-image: url("https://res.cloudinary.com/thearksg/image/upload/v1594089843/website/signup_page.png");
  background-position: center;
  background-size: cover;
}
