<template>
  <div>
    <div style="width: 100%; height: 300px">
      <cld-image
        cloudName="thearksg"
        :publicId="page.featuredImage"
        :alt="page.name"
        responsive="fill"
      />
    </div>
    <v-container style="margin-bottom: 100px">
      <no-ssr>
        <p style="font-size: 14px" v-html="page.content"></p>
      </no-ssr>
    </v-container>
  </div>
</template>

<script>
export default {
  async asyncData({ store, params }) {
    let p = await store.dispatch(
      "pages/GET_PAGE_BY_URL",
      params.url.toLowerCase()
    );
    let [page] = Object.values(p);

    return { page };
  }
};
</script>

<style>
p {
  margin-bottom: 5px !important;
  font-size: 14px;
}
</style>
