<template>
  <v-app>
    <v-navigation-drawer
      v-model="drawer"
      app
      temporary
      right
      :width="windowSize < 400 ? windowSize : '400'"
    >
      <v-list>
        <v-list-item>
          <v-list-item-content>
            <img src="/ark_logo_header.svg" alt="The Ark Logo" />
          </v-list-item-content>
          <v-list-item-content>
            <v-spacer></v-spacer>
          </v-list-item-content>
          <v-list-item-action>
            <v-btn icon @click.prevent="drawer = false">
              <v-icon>mdi-close</v-icon>
            </v-btn>
          </v-list-item-action>
        </v-list-item>
        <v-list-item v-for="item in navItems" :key="item.title" link>
          <v-list-item-content>
            <v-list-item-title>
              <div
                style="font-weight: 600; margin-left: 30px"
                @click.prevent="$router.push(item.to)"
              >
                {{ item.title }}
              </div>
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item>
          <v-spacer></v-spacer>
        </v-list-item>

        <v-list-item
          class="px-8"
          style="cursor: pointer"
          v-show="activeUser"
          @click="expandUser = !expandUser"
        >
          <v-list-item-avatar>
            <img
              src="/Icon/user_icon_header.svg"
              alt="User Icon"
              style="width: 60%"
            />
          </v-list-item-avatar>
          <v-list-item-content>
            <v-list-item-title>
              {{ activeUser ? activeUser.name : "" }}
            </v-list-item-title>
          </v-list-item-content>

          <v-list-item-icon>
            <v-icon>
              {{ expandUser ? "mdi-chevron-up" : "mdi-chevron-down" }}
            </v-icon>
          </v-list-item-icon>
        </v-list-item>
        <v-list-item v-show="activeUser === null">
          <v-btn
            text
            class="the-ark-nav-btn accent--text"
            @click.prevent="$router.push('/login')"
          >
            <v-avatar>
              <img
                src="/Icon/user_icon_header.svg"
                alt="John"
                style="width: 60%"
              /> </v-avatar
            >Sign In
          </v-btn>
        </v-list-item>
        <v-list-item class="ml-11" v-if="expandUser">
          <v-card flat>
            <div class="pb-6 px-8 bg-white" style="z-index: 99">
              <div class="mb-5" style="font-size: 14px" v-if="creditsLeft">
                Credit
                <br />
                <div
                  class="accent--text"
                  style="font-size: 20px; font-weight: 500"
                >
                  $ {{ creditsLeft }}
                </div>
              </div>
              <div
                class="d-flex mb-5"
                @click.prevent="$router.push('/user')"
                style="cursor: pointer"
              >
                <div class="mr-3">
                  <img src="/Icon/user_menu_profile.svg" alt="Profile" />
                </div>
                <div style="font-weight: 500">Profile</div>
              </div>
              <div
                class="d-flex"
                @click.prevent="logout"
                style="cursor: pointer"
              >
                <div class="mr-3" style="width: 30px">
                  <img src="/Icon/user_logout.svg" alt="Profile" />
                </div>
                <div style="font-weight: 500">Log Out</div>
              </div>
            </div>
          </v-card>
        </v-list-item>
        <v-list-item>
          <v-btn text class="the-ark-nav-btn" style="margin-left:10px"
            >+65 9185 2555</v-btn
          >
        </v-list-item>
        <v-list-item class="px-8">
          <v-btn
            rounded
            block
            class="accent white--text the-ark-nav-btn"
            to="/booking"
            >Book Now</v-btn
          >
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar app height="90">
      <v-toolbar-title
        @click.prevent="$router.push('/')"
        class="mt-3"
        :class="{ 'ml-10': windowSize > 700 }"
      >
        <img
          src="/ark_logo_header.svg"
          alt="The Ark Logo"
          style="cursor: pointer"
        />
      </v-toolbar-title>
      <div class="mx-8" v-show="windowSize > 1240">
        <template v-for="nav in navItems">
          <v-btn
            :key="nav.title"
            text
            class="the-ark-nav-btn"
            @click.prevent="$router.push(nav.to)"
            >{{ nav.title }}</v-btn
          >
        </template>
      </div>
      <v-spacer />
      <v-btn
        text
        v-show="activeUser === null"
        class="the-ark-nav-btn accent--text"
        @click.prevent="$router.push('/login')"
      >
        <v-avatar>
          <img
            src="/Icon/user_icon_header.svg"
            alt="User Icon"
            style="width: 60%"
          /> </v-avatar
        >Sign In
      </v-btn>
      <v-menu offset-y open-on-hover v-show="activeUser">
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            text
            class="the-ark-nav-btn accent--text"
            v-bind="attrs"
            v-on="on"
            v-show="activeUser"
          >
            <v-avatar>
              <img
                src="/Icon/user_icon_header.svg"
                alt="User Icon"
                style="width: 60%"
              />
            </v-avatar>
            {{ activeUser ? activeUser.name : "" }}
          </v-btn>
        </template>
        <v-card>
          <div class="pt-6 pb-6 px-8 bg-white" style="z-index: 99">
            <div class="mb-5" style="font-size: 14px" v-if="creditsLeft">
              Credit
              <br />
              <div
                class="accent--text"
                style="font-size: 20px; font-weight: 500"
              >
                $ {{ creditsLeft }}
              </div>
            </div>
            <div
              class="d-flex mb-5"
              @click.prevent="$router.push('/user')"
              style="cursor: pointer"
            >
              <div class="mr-3" style="width: 30px">
                <img src="/Icon/user_menu_profile.svg" alt="Profile" />
              </div>
              <div style="font-weight: 500">Profile</div>
            </div>
            <div class="d-flex" @click.prevent="logout" style="cursor: pointer">
              <div class="mr-3" style="width: 30px">
                <img src="/Icon/user_logout.svg" alt="Profile" />
              </div>
              <div style="font-weight: 500">Log Out</div>
            </div>
          </div>
        </v-card>
      </v-menu>

      <div v-show="windowSize > 520" :class="{ 'mr-10': windowSize > 1240 }">
        <v-btn text class="the-ark-nav-btn" v-show="windowSize > 700"
          >+65 9185 2555</v-btn
        >
        <v-btn
          rounded
          class="accent white--text the-ark-nav-btn"
          @click.prevent="$router.push('/booking')"
          >Book Now</v-btn
        >
      </div>

      <v-app-bar-nav-icon
        v-show="windowSize < 1240"
        :class="{ 'mr-10': windowSize > 700 }"
        @click.prevent="drawer = true"
        alt="Menu"
      ></v-app-bar-nav-icon>
    </v-app-bar>
    <v-main>
      <v-container class="pa-0" fluid>
        <nuxt />
      </v-container>
    </v-main>
    <v-footer padless>
      <v-col cols="12" class="pa-0">
        <SocialFooter :windowSize="windowSize" />
      </v-col>
    </v-footer>
    <v-bottom-navigation
      :value="true"
      fixed
      dark
      v-if="$device.isMobile && $route.name !== 'booking'"
    >
      <v-btn
        aria-label="Book Now"
        value="booking"
        @click="$router.push('/booking')"
      >
        <span>Book Now</span>
        <v-icon>mdi-gamepad</v-icon>
      </v-btn>
      <v-btn aria-label="Events" value="event" @click="$router.push('/events')">
        <span>Events</span>
        <v-icon>mdi-calendar-search</v-icon>
      </v-btn>
      <v-btn aria-label="Call Us" value="Call" @click="navTo('Call')">
        <span>Call Us</span>
        <v-icon>mdi-phone</v-icon>
      </v-btn>
      <v-btn aria-label="Whatsapp" value="Whatsapp" @click="navTo('Whatsapp')">
        <span>Whatsapp</span>
        <v-icon>mdi-whatsapp</v-icon>
      </v-btn>
    </v-bottom-navigation>
  </v-app>
</template>

<script>
import { mapState } from "vuex";

export default {
  beforeDestroy() {
    if (typeof window !== "undefined") {
      window.removeEventListener("resize", this.onResize, { passive: true });
    }
  },

  mounted() {
    this.onResize();
    window.addEventListener("resize", this.onResize, { passive: true });
  },
  components: {
    SocialFooter: () => import("../components/SocialFooter")
  },
  data() {
    return {
      windowSize: 0,
      expandUser: false,
      navItems: [
        { title: "Contact Us", to: "/contactus" },
        { title: "Our Pitches", to: "/pitches" },
        { title: "Events", to: "/events" },
        { title: "Packages", to: "/packages" }
      ],
      drawer: false
    };
  },
  computed: {
    ...mapState({
      activeUser: state => state.user,
      loading: state => state.loading,
      creditsLeft: state => state.credits.creditsLeft
    })
  },
  methods: {
    onResize() {
      this.windowSize = window.innerWidth;
    },
    logout() {
      this.$store.dispatch("SIGN_OUT");
    },
    navTo(type) {
      if (type === "Whatsapp") {
        window.location = "http://wa.me/6591852555";
      } else if (type === "Call") {
        window.location = "tel:+6591852555";
      }
    }
  }
};
</script>
