<template>
  <div>
    <v-img src="/Images/title_events.png" height="220">
      <v-row align="center" justify="center" class="fill-height">
        <v-col class="text-center white--text" cols="12">
          <h1>Corporate Event</h1>
        </v-col>
      </v-row>
    </v-img>

    <v-container>
      <div class="white">
        <div style="font-size: 26px; font-weight: 600" class="mx-4 mt-13">Contact Us</div>
        <ContactUsForm />
      </div>
    </v-container>
  </div>
</template>

<script>
export default {
  components: {
    ContactUsForm: () => import("../components/ContactUsForm"),
  },
};
</script>

<style></style>
