<template>
  <div>
    <template v-if="config && config.popup">
      <PromotionDialog
        :windowSize="windowSize"
        :config="config"
      />
    </template>

    <quick-booking
      :locations="locations"
      :windowSize="windowSize"
    ></quick-booking>
    <v-container>
      <our-venues
        :locations="locations"
        :windowSize="windowSize"
        :pitches="pitches"
        :timeslots="timeslots"
      ></our-venues>
      <!-- <news-updates :news="news" :windowSize="windowSize"></news-updates> -->
    </v-container>
    <OurOfficialPartner />
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  async fetch({ store }) {
    await Promise.all([
      store.dispatch("config/GET_CONFIG"),
      store.dispatch("timeslots/GET_TIMESLOTS"),
      store.dispatch("locations/GET_LOCATIONS"),
      store.dispatch("pitches/GET_PITCHES"),
      store.dispatch("pages/GET_NEWS"),
    ]);
  },

  fetchOnServer: true,
  data() {
    return {
      windowSize: 1200,
    };
  },
  beforeDestroy() {
    if (typeof window !== "undefined") {
      window.removeEventListener("resize", this.onResize, { passive: true });
    }
  },

  mounted() {
    this.onResize();
    window.addEventListener("resize", this.onResize, { passive: true });
  },
  methods: {
    onResize() {
      this.windowSize = window.innerWidth;
    },
  },
  computed: {
    ...mapState({
      pitches: (state) => state.pitches.pitches,
      locations: (state) => state.locations.locations,
      timeslots: (state) => state.timeslots.timeslots,
      news: (state) => state.pages.news,
      config: (state) => state.config.config,
    }),
  },

  components: {
    QuickBooking: () => import("~/components/QuickBooking"),
    OurVenues: () => import("~/components/OurVenues"),
    UpcomingEvents: () => import("~/components/UpcomingEvents"),
    OurOfficialPartner: () => import("~/components/OurOfficialPartner"),
    NewUpdates: () => import("~/components/NewsUpdates"),
    PromotionDialog: () => import("~/components/PromotionDialog"),
  },
};
</script>
