<template>
  <div>
    <login-sign-up-form></login-sign-up-form>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  mounted() {
    if (this.$store.state.user) {
      this.$router.push("/user");
    }
  },
  watch: {
    user(newValue) {
      if (newValue !== null) {
        this.$router.push("/user");
      }
    },
  },
  computed: {
    ...mapState({
      user: (state) => state.user,
    }),
  },
  components: {
    LoginSignUpForm: () => import("../components/LoginSignUpForm"),
  },
};
</script>
