<template>
  <div>
    <v-img
      src="/Images/title_package.png"
      height="220"
    >
      <v-row
        align="center"
        justify="center"
        class="fill-height"
      >
        <v-col
          class="text-center white--text"
          cols="12"
        >
          <h1>Packages</h1>
        </v-col>
      </v-row>
    </v-img>
    <v-container class="text-center mt-16">
      <h3>BE A MEMBER TODAY</h3>
      <div class="mb-8">Buy credit to book at a discount rate</div>
      <v-row dense>
        <template v-for="(p,index) in packages">
          <v-col
            cols="12"
            :sm="12/packages.length"
            :key="index"
          >
            <v-card class="pa-8">
              <h4 class="text-center">PACKAGE {{alphabets[index].toUpperCase()}}</h4>
              <div>
                <img :src="`..//Images/package${alphabets[index]}.png`" />
              </div>
              <v-card-text>
                <div
                  style="font-size: 24px; font-weight: 600 "
                  class="accent--text"
                >${{p.amount}}</div>
                <div
                  style="font-size: 14px; font-weight: 500 "
                  class="accent--text mt-2"
                >+${{parseInt(p.value)-parseInt(p.amount)}} Credits</div>
              </v-card-text>
              <v-btn
                rounded
                color="accent"
                class="the-ark-nav-btn"
                @click.native="goToCredits(index)"
              >Buy Package</v-btn>
            </v-card>
          </v-col>
        </template>
      </v-row>
    </v-container>
    <div class="text-center mt-4 mb-16">*All packages must be used within 6 months from purchase</div>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  async fetch({ store }) {
    await store.dispatch("packages/GET_PACKAGES");
  },
  data() {
    return {
      alphabets: ["A", "B", "c", "d", "e", "f"],
    };
  },
  computed: {
    ...mapState({
      packages: (state) => state.packages.packages,
    }),
  },
  methods: {
    goToCredits(index) {
      this.$store.commit("booking/setPackage", index);
      this.$router.push("/credits");
    },
  },
};
</script>

<style>
</style>