<template>
  <div>
    <v-img src="/Images/title_pitch.png" height="220">
      <v-row align="center" justify="center" class="fill-height">
        <v-col class="text-center white--text" cols="12">
          <h1>Pitch</h1>
        </v-col>
      </v-row>
    </v-img>
    <v-container>
      <our-venues
        :locations="locations"
        :pitches="pitches"
        :timeslots="timeslots"
        :windowSize="windowSize"
        :noTitle="true"
      ></our-venues>
    </v-container>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  async fetch({ store, params }) {
    await Promise.all([
      store.dispatch("timeslots/GET_TIMESLOTS"),
      store.dispatch("locations/GET_LOCATIONS"),
      store.dispatch("pitches/GET_PITCHES"),
      store.dispatch("pages/GET_NEWS"),
    ]);
  },
  data() {
    return {
      windowSize: 1200,
    };
  },
  beforeDestroy() {
    if (typeof window !== "undefined") {
      window.removeEventListener("resize", this.onResize, { passive: true });
    }
  },
  computed: {
    ...mapState({
      pitches: (state) => state.pitches.pitches,
      locations: (state) => state.locations.locations,
      timeslots: (state) => state.timeslots.timeslots,
    }),
  },
  mounted() {
    this.onResize();
    window.addEventListener("resize", this.onResize, { passive: true });
  },
  methods: {
    onResize() {
      this.windowSize = window.innerWidth;
    },
  },

  components: {
    OurVenues: () => import("~/components/OurVenues"),
  },
};
</script>

<style></style>
