<template>
  <div>
    <v-img src="/Images/title_terms.png" height="220">
      <v-row align="center" justify="center" class="fill-height">
        <v-col class="text-center white--text" cols="12">
          <h1>Terms and Conditions</h1>
        </v-col>
      </v-row>
    </v-img>

    <no-ssr>
      <div class="ark-container px-8">
        <p style="font-size: 14px" v-html="page.content"></p>
      </div>
    </no-ssr>
  </div>
</template>

<script>
export default {
  async asyncData({ store, params }) {
    let p = await store.dispatch("pages/GET_PAGE", "Terms and Conditions");
    let [page] = Object.values(p);

    return { page };
  },
};
</script>

<style>
p {
  margin-bottom: 5px !important;
  font-size: 14px;
}
</style>
