<template>
  <div>
    <Loading
      :message="message"
      v-if="loading"
    ></Loading>
    <v-img
      src="/Images/title_profile.png"
      height="220"
    >
      <v-row
        align="center"
        justify="center"
        class="fill-height"
      >
        <v-col
          class="text-center white--text"
          cols="12"
        >
          <h1>Hi {{ user ? user.name : "" }}!</h1>
        </v-col>
      </v-row>
    </v-img>
    <no-ssr>
      <div
        class="nm-container mx-auto pb-16"
        v-if="user"
      >
        <v-card class="pa-7 mx-7">
          <v-row
            align="center"
            justify="center"
          >
            <v-col
              cols="12"
              sm="2"
              class="text-center"
            >
              <v-avatar>
                <img src="/Icon/user_profile.svg" />
              </v-avatar>
            </v-col>
            <v-col
              cols="12"
              sm="5"
            >
              <div class="pa-3">
                <div class="d-flex">
                  <h4 class="text-left">{{ user.name }}</h4>
                  <v-icon
                    class="mx-7"
                    color="accent"
                  >mdi-pencil</v-icon>
                </div>

                <div>{{ user.contact }}</div>
                <div>
                  {{ user.email }}
                  {{
                    user.providerId === "password" && !user.emailVerified
                      ? "(Unverified)"
                      : ""
                  }}
                </div>
              </div>

              <v-btn
                v-if="user.providerId === 'password'"
                rounded
                :block="$vuetify.breakpoint.xs"
                color="accent"
                class="white--text the-ark-nav-btn mt-2"
                @click.prevent="changePassword"
              >Change Password</v-btn>
            </v-col>
            <v-col
              cols="12"
              sm="5"
            >
              <div :class="{
                  'text-center': $vuetify.breakpoint.xs,
                  'text-right': $vuetify.breakpoint.smAndUp
                }">
                <h6 class="mt-3">Credits</h6>
                <div
                  class="accent--text"
                  style="font-size: 24px"
                >
                  ${{ creditsLeft ? creditsLeft : 0 }}
                </div>
                <v-btn
                  v-if="creditsLeft"
                  rounded
                  outlined
                  color="accent"
                  :block="$vuetify.breakpoint.xs"
                  class="accent--text the-ark-nav-btn mt-3"
                  @click.prevent="$router.push('/credits')"
                >Top Up</v-btn>
                <v-btn
                  v-else
                  rounded
                  outlined
                  color="accent"
                  :block="$vuetify.breakpoint.xs"
                  class="accent--text the-ark-nav-btn mt-3"
                  @click.prevent="$router.push('/credits')"
                >Buy Package</v-btn>
              </div>
            </v-col>
          </v-row>
        </v-card>
        <v-card class="pa-7 mx-7 mt-5">
          <v-card-title>
            <h4>My Card</h4>
          </v-card-title>
          <div class="text-center px-4">
            <v-btn
              rounded
              block
              color="accent"
              class="white--text the-ark-nav-btn mt-3"
              @click.prevent="addNewCard"
            >Add Credit Cards</v-btn>
          </div>
          <div class="mt-5">
            <v-card
              v-for="(card, index) in cards"
              :key="index"
              style="border-left: 5px solid black"
              class="mt-3 mb-3"
            >
              <v-card-title style="font-size: 14px">
                <h5>{{ card.brand }}</h5>
                <span>&nbsp; ending in {{ card.last4 }}</span>
                <v-spacer></v-spacer>
                <span>
                  Expires : {{ card.exp_month.toString().padStart(2, "0") }} /
                  {{ card.exp_year - 2000 }}
                </span>
                <v-spacer></v-spacer>
                <v-icon
                  v-if="cards.length > 1"
                  @click.prevent="deleteCard(card, index)"
                >mdi-delete</v-icon>
              </v-card-title>
            </v-card>
          </div>

          <div v-show="newCard">
            <div class="mt-9 mb-9">
              <v-divider></v-divider>
            </div>
            <v-row>
              <v-col cols="12">
                <div
                  id="card-number"
                  class="field"
                >
                  <!-- A Stripe Element will be inserted here. -->
                </div>
              </v-col>
              <v-col cols="6">
                <div
                  id="card-expiry"
                  class="field"
                ></div>
              </v-col>
              <v-col cols="6">
                <div
                  id="card-cvc"
                  class="field"
                ></div>
              </v-col>
            </v-row>

            <!-- Used to display Element errors. -->
            <div
              id="card-errors"
              role="alert"
              class="red--text"
            ></div>
            <v-btn
              rounded
              outlined
              block
              color="accent"
              class="accent--text the-ark-nav-btn mt-3"
              @click.prevent="submitNewCard"
            >Add</v-btn>
          </div>
        </v-card>
        <div class="mx-7 mt-16">
          <h5
            class="text-left"
            v-if="userPackages.length > 0"
          >CREDITS</h5>
          <template v-for="(p, index) in userPackages">
            <v-card
              class="pa-3 mt-2 mb-2"
              :key="'package' + index"
            >
              <v-row align="center">
                <v-col cols="2">
                  <v-avatar color="accent">
                    <img
                      src="/Icon/activity_topup_icon.svg"
                      style="width: 70%"
                    />
                  </v-avatar>
                </v-col>
                <v-col cols="7">
                  <span style="font-weight: 600">{{ p.paymentMethod }}</span>
                  <br />
                  Expires {{ $moment(p.expiryDate).format("DD MMM YY") }}
                </v-col>
                <v-col cols="3">
                  <div
                    class="text-right"
                    v-if="p.creditsLeft === 0"
                  >
                    <span>Used</span>
                  </div>
                  <div
                    class="text-right"
                    v-else
                  >
                    <span>${{ p.value }}</span>
                    <br />
                    <span
                      v-if="p.creditsLeft"
                      class="accent--text"
                    >R: ${{ p.creditsLeft }}</span>
                  </div>
                </v-col>
              </v-row>
            </v-card>
          </template>
        </div>
        <div class="mx-7 mt-16">
          <v-row align="center">
            <v-col cols="8">
              <h5 class="text-left">BOOKINGS</h5>
            </v-col>
            <v-col
              cols="4"
              v-if="pastBookings.length > 0"
            >
              <v-checkbox
                v-model="seePast"
                color="accent"
              >
                <template v-slot:label>
                  <div
                    style="font-size: 12px"
                    class="accent--text"
                  >
                    Past Bookings
                  </div>
                </template>
              </v-checkbox>
            </v-col>
          </v-row>

          <v-card
            class="pa-7"
            v-if="currentBookings.length === 0"
          >
            <div>
              <div class="text-center">You have no active booking</div>
              <div class="text-center">
                <v-btn
                  rounded
                  outlined
                  :block="$vuetify.breakpoint.xs"
                  class="accent white--text the-ark-nav-btn mt-3"
                  @click.prevent="$router.push('/booking')"
                >Book Now</v-btn>
              </div>
            </div>
          </v-card>
          <template v-for="(b, index) in currentBookings">
            <v-card
              class="pa-3 mt-2 mb-2"
              :key="'cur' + index"
            >
              <v-row align="center">
                <v-col cols="2">
                  <v-avatar color="accent">
                    <img
                      src="/Icon/activity_booking_icon.svg"
                      style="width: 70%"
                    />
                  </v-avatar>
                </v-col>
                <v-col cols="6">
                  <span style="font-weight: 600">{{ b.location }}</span>
                  <br />
                  {{ $moment(b.date).format("DD MMM YY") }}
                </v-col>
                <v-col
                  cols="4"
                  class="text-right"
                >
                  <span>${{ b.amount }}</span>
                  <template v-if="b.paymentMethod === 'Credit'">Credits</template>
                  <template v-for="(slot, index) in b.slotsExpanded">
                    <div
                      :key="index"
                      style="font-size: 8px"
                    >
                      Pitch {{ slot.pitch }} - {{ slot.start }} to
                      {{ slot.end }}
                    </div>
                  </template>
                </v-col>
              </v-row>
            </v-card>
          </template>
        </div>

        <div
          class="mx-7 mt-16"
          v-if="seePast"
        >
          <v-row align="center">
            <v-col cols="12">
              <h5 class="text-left">PAST BOOKINGS</h5>
            </v-col>
          </v-row>
          <template v-for="(b, index) in pastBookings">
            <v-card
              class="pa-3 mt-2 mb-2"
              :key="'cur' + index"
            >
              <v-row align="center">
                <v-col cols="2">
                  <v-avatar color="accent">
                    <img
                      src="/Icon/activity_booking_icon.svg"
                      style="width: 70%"
                    />
                  </v-avatar>
                </v-col>
                <v-col cols="6">
                  <span style="font-weight: 600">{{ b.location }}</span>
                  <br />
                  {{ $moment(b.date).format("DD MMM YY") }}
                </v-col>
                <v-col
                  cols="4"
                  class="text-right"
                >
                  <span>${{ b.amount }}</span>
                  <template v-if="b.paymentMethod === 'Credit'">Credits</template>
                  <template v-for="(slot, index) in b.slotsExpanded">
                    <div
                      :key="index"
                      style="font-size: 8px"
                    >
                      Pitch {{ slot.pitch }} - {{ slot.start }} to
                      {{ slot.end }}
                    </div>
                  </template>
                </v-col>
              </v-row>
              <!-- <v-row>
                <v-col cols="12">
                  {{ findLockKey(b.slots) }}
                </v-col>
              </v-row> -->
            </v-card>
          </template>
        </div>
      </div>
    </no-ssr>
  </div>
</template>

<script>
import { mapState } from "vuex";
import filter from "lodash/filter";
import orderBy from "lodash/orderBy";
import find from "lodash/find";
export default {
  async mounted() {
    this.loading = true;
    if (this.$store.state.user === null) {
      this.$router.push("/login");
    } else {
      await this.$store.dispatch("bookings/GET_MY_BOOKINGS");
      if (this.user.uid) {
        await this.$store.dispatch("credits/GET_USER_CREDIT", this.user.uid);
      }

      if (this.user.sid) {
        this.$axios
          .post(`${this.stripeServerUrl}/stripe/retrieve`, {
            id: this.user.sid,
          })
          .then((res) => {
            this.customer = res.data;
            this.loading = false;
          })
          .catch((err) => {
            console.log(err);
            this.loading = false;
          });
      } else {
        this.loading = false;
      }
    }
  },
  components: {
    Loading: () => import("../components/Loading"),
  },
  data() {
    return {
      loading: false,
      message: "Loading User Profile",
      customer: null,
      stripe: null,
      cardElement: null,
      newCard: false,
      seePast: false,
      lockCodes: [],
      //stripeServerUrl: "http://localhost:8080"
      //stripeServerUrl: "https://the-ark-test-node-289505.et.r.appspot.com"
      stripeServerUrl: "https://the-ark-node.el.r.appspot.com",
    };
  },
  computed: {
    ...mapState({
      user: (state) => state.user,
      creditsLeft: (state) => state.credits.creditsLeft,
      myBookings: (state) => state.bookings.myBookings,
      userPackages: (state) => state.credits.userPackages,
    }),
    currentBookings() {
      return filter(this.myBookings, (o) => {
        let bookedTime = this.$moment(o.slotsExpanded[0].start, "ha");
        let bookedDate = this.$moment(o.date);
        bookedDate = bookedDate.set("hour", bookedTime.get("hour"));
        return this.$moment().isBefore(bookedDate, "hour");
      });
    },
    pastBookings() {
      return orderBy(
        filter(this.myBookings, (o) => {
          let bookedTime = this.$moment(o.slotsExpanded[0].start, "ha");
          let bookedDate = this.$moment(o.date);
          bookedDate = bookedDate.set("hour", bookedTime.get("hour"));
          return this.$moment().isSameOrAfter(bookedDate, "hour");
        }),
        ["date"],
        ["desc"]
      ).slice(0, 5);
    },
    cards() {
      return this.customer ? this.customer.sources.data : [];
    },
  },
  watch: {
    activeUser(newValue) {
      if (newValue === null) {
        this.$router.push("/login");
      }
    },
  },
  methods: {
    changePassword() {},
    addNewCard() {
      if (this.stripe === null) {
        this.initiateStripe();
      }

      this.newCard = true;
    },
    initiateStripe() {
      const elementStyles = {
        base: {
          color: "#000",
          fontWeight: 600,
          fontSize: "16px",
          fontSmoothing: "antialiased",

          ":focus": {
            color: "#424770",
          },

          "::placeholder": {
            color: "#9BACC8",
          },

          ":focus::placeholder": {
            color: "#9BACC8",
          },
        },
        invalid: {
          color: "#fff",
          ":focus": {
            color: "#FA755A",
          },
          "::placeholder": {
            color: "#FFCCA5",
          },
        },
      };

      const elementClasses = {
        focus: "focus",
        empty: "empty",
        invalid: "invalid",
      };
      this.stripe = this.$stripe.import();
      const elements = this.stripe.elements();
      const cardNumber = elements.create("cardNumber", {
        style: elementStyles,
        classes: elementClasses,
      });
      cardNumber.mount("#card-number");

      this.cardElement = cardNumber;
      const cardExpiry = elements.create("cardExpiry", {
        style: elementStyles,
        classes: elementClasses,
      });
      cardExpiry.mount("#card-expiry");

      const cardCvc = elements.create("cardCvc", {
        style: elementStyles,
        classes: elementClasses,
      });
      cardCvc.mount("#card-cvc");
    },
    async deleteCard(card, index) {
      this.message = "Deleting Card";
      this.loading = true;
      this.$axios
        .post(`${this.stripeServerUrl}/stripe/deleteCard`, {
          customerId: this.customer.id,
          source: card.id,
        })
        .then((resp) => {
          this.cards.splice(index, 1);
          this.loading = false;
        });
    },
    async submitNewCard() {
      this.message = "Adding New Card";
      this.loading = true;
      const { token, error } = await this.stripe.createToken(this.cardElement);
      if (error) {
        // Inform the customer that there was an error.
        const errorElement = document.getElementById("card-errors");
        errorElement.textContent = error.message;
        this.loading = false;
      } else {
        // Send the token to your server.

        this.$axios
          .post(`${this.stripeServerUrl}/stripe/retrieveToken`, {
            source: token.id,
          })
          .then(async (res) => {
            if (this.customer === null) {
              let resp = await this.$axios.post(
                `${this.stripeServerUrl}/stripe/create`,
                {
                  email: this.user.email,
                  source: token.id,
                }
              );
              await this.$store.dispatch("UPDATE_USER", {
                key: this.user.uid,
                sid: resp.data.id,
              });
              await this.$axios
                .post(`${this.stripeServerUrl}/stripe/retrieve`, {
                  id: resp.data.id,
                })
                .then((res) => {
                  this.customer = res.data;
                });
            }
            const { fingerprint } = res.data.card;
            let found = find(this.cards, { fingerprint });
            if (found === undefined) {
              this.$axios
                .post(`${this.stripeServerUrl}/stripe/addCard`, {
                  customerId: this.customer.id,
                  source: token.id,
                })
                .then((resp) => {
                  this.cards.push(resp.data);
                  this.addNew = false;
                  this.loading = false;
                });
            } else {
              const errorElement = document.getElementById("card-errors");
              errorElement.textContent = "Card already exist!";
              this.loading = false;
            }
          });
      }
    },
  },
};
</script>

<style>
.field {
  padding: 10px 20px 11px;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 5px;
  width: 100%;
  color: black;
}
</style>
